<div class="view">
  <div *ngIf="loading" class="row m-md-5 text-center">
    <div class="col-md-12 col-sm-12 m-md-5">
      <div class="d-flex justify-content-center">
        <div class="spinner-border m-5" style="width: 2rem; height: 2rem; color: #4d83ff" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <p><strong>Preparing for printing! Please wait ...</strong></p>
    </div>
  </div>

  <div *ngIf="!loading" class="text-center mb-3">
    <button id="print-button" class="btn btn-primary" (click)="print()">Print</button>
  </div>

  <div *ngIf="!loading" class="container" id="print-view">
    <div class="row">
      <div id="form-data" class="col-8 offset-2" style="background-color: #fff;">
        <div class="img-view">
          <img [src]="logo" alt="logo" class="img-fluid">
        </div>
        <div class="title-view">
          <h1>{{ form.form_name }}</h1>
        </div>
        <div class="row" *ngFor="let item of clientFormData; let i=index">
          <div class="col-6">
            <h5><strong>{{ item.title }}</strong></h5>
          </div>
          <div class="col-6">
            <h5>{{ item.data }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>