<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Welcome back, {{ firstname }}</h2>
                  <p class="mb-md-0">Your administrative dashboard.</p>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!created" class="row mt-5">
          <div class="col-md-6 offset-md-3 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title">Edit Business Sector</p>
                <div class="card-text">
                  <form [formGroup]="form" (ngSubmit)="edit()">
                    <div class="form-group">
                      <input type="text" class="form-control form-control-lg" formControlName="name"
                        placeholder="Sector Name">
                      <div *ngIf="submitted && f.name.errors">
                        <p class="input-error" *ngIf="f.name.errors.required">Name is required</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" *ngIf="!loading" class="btn btn-primary btn-lg mr-2">Edit Sector</button>
                      <button *ngIf="loading" class="btn btn-primary btn-lg mr-2" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;
                        &nbsp;
                        Please wait
                      </button>
                      <button type="button" class="btn btn-light btn-lg" (click)="cancel()">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="created" class="row">
          <div class="col-md-12 grid-margin">
            <div class="card text-center">
              <div class="card-body">
                <p class="card-title">Sector Updated</p>
                <div class="card-text">
                  <i class="mdi mdi-shield-outline" style="font-size: 12em;"></i>
                  <p class="text-muted">You have successfully updated a sector.</p>
                  <button class="btn btn-primary mr-2 hover-cursor" type="button" (click)="ok()">Ok</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content ends -->
      <!-- partial -->
      <app-footer-bar></app-footer-bar>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
</div>