<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>{{ formName }}</h2>
                  <p class="mb-md-0">Your administrative dashboard.</p>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                <!-- <button type="button" class="btn btn-light bg-white btn-icon mr-3 d-none d-md-block ">
                  <i class="mdi mdi-download text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                  <i class="mdi mdi-clock-outline text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                  <i class="mdi mdi-plus text-muted"></i>
                </button> -->
              </div>
            </div>
          </div>
        </div>

        <!-- <div *ngIf="_loading" class="row m-5">
          <div class="col-md-12 m-5">
            <div class="d-flex justify-content-center">
              <div class="spinner-border m-5" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div> -->

        <div [hidden]="completed || submitted || rejected" class="row">
          <div class="col-md-8 offset-md-2 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title">{{ formName }}</p>
                <div class="card-text">
                  <form class="forms-sample">
                    <div class="form-builder-container">
                      <div id="form-render"></div>
                    </div>

                    <div *ngIf="loadingAttachments" class="row m-md-2">
                      <div class="col-md-12 col-sm-12 m-md-2">
                        <div class="d-flex justify-content-center">
                          <div class="spinner-border m-2" style="width: 2rem; height: 2rem;" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="attachments-section" *ngIf="!loadingAttachments && showAttachments">
                      <div class="card mb-4">
                        <div class="card-body">
                          <h5 class="card-title">Form Attachments / Documents</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Below are attachments you've uploaded for this form
                          </h6>
                          <div class="row" *ngFor="let file of existingAttachments">
                            <div class="col-11" style="padding-right: 8px;">
                              <ol class="files-list">
                                <li class="file-item">
                                  <i class="mdi mdi-paperclip menu-icon"></i>
                                  <a class="alert-link file-link"
                                    (click)="openModal($event, file.url)">{{ file.url }}</a>
                                </li>
                              </ol>
                            </div>
                            <div class="col-1" style="padding-right: 3px; padding-left: 4px; margin-top: 7px;">
                              <button class="btn btn-primary btn-icon" (click)="download(file.url)">
                                <i class="mdi mdi-download-outline"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button *ngIf="loading" class="btn btn-primary btn-lg mr-2" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      <span class="sr-only">Please wait...</span>
                    </button>
                    <button *ngIf="!loading && !isProcessed" type="submit" class="btn btn-primary btn-lg mr-2" (click)="complete()">Complete</button>
                    <button *ngIf="!loading && !isProcessed && !isProcessing" type="submit" class="btn btn-primary btn-lg mr-2" (click)="process()">Processing</button>
                    <button *ngIf="!loading && !isProcessed" type="submit" class="btn btn-light btn-lg" (click)="reject()">Reject</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

         <!-- <div *ngIf="isProcessed" class="row">
           <div class="col-lg-12 grid-margin stretch-card">
             <div class="card text-center pt-5 pb-5">
               <div class="card-body mt-5 mb-5">
                 <h4 class="card-title">Processed</h4>
                 <p class="card-text">
                   This {{ formName }} form has been processed.
                 </p>
                 <div class="text-lg-center mt-5 mb-5">
                   <div class="card-text">
                     <i class="mdi mdi-file-question" style="font-size: 8em;"></i>
                   </div>
                   <div class="card-text mt-2">
                     <h3>Form Already Processed</h3>
                     <p class="text-muted">{{ form.submission_code }} has already been processed</p>
                     <p class="text-muted">{{ form.submission_code }} was processed on {{ lastProcessed | date }}</p>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div> -->

        <!-- <div *ngIf="isProcessing" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">Processing</h4>
                <p class="card-text">
                  This {{ formName }} form is being processed.
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-file-question" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text mt-2">
                    <h3>Processing Form</h3>
                    <p class="text-muted">{{ form.submission_code }} is in processing</p>
                    <p class="text-muted">{{ form.submission_code }} was last accessed for processing on
                      {{ lastProcessed | date }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="row" *ngIf="submitted">
          <div class="col-md-12 grid-margin">
            <div class="card pt-5 pb-5 text-center">
              <div class="card-body">
                <p class="card-title">Processing</p>
                <p class="text-muted"></p>
                <div class="card-text">
                  <i class="mdi mdi-shield-check-outline text-primary" style="font-size: 12em;"></i>
                  <h2>Form has been submitted for processing</h2>
                  <p class="text-muted">You have succesfully submitted this form for processing.</p>
                </div>
                <div class="card-text mt-4">
                  <button type="button" class="btn btn-primary btn-lg mr-2" (click)="ok()">
                    <i class="mdi mdi-check"></i>
                    Ok
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="completed">
          <div class="col-md-12 grid-margin">
            <div class="card pt-5 pb-5 text-center">
              <div class="card-body">
                <p class="card-title">Success</p>
                <p class="text-muted"></p>
                <div class="card-text">
                  <i class="mdi mdi-shield-check-outline text-primary" style="font-size: 12em;"></i>
                  <h2>Form Has Been Completed</h2>
                  <p class="text-muted">You have succesfully completed processing this form.</p>
                </div>
                <div class="card-text mt-4">
                  <button type="button" class="btn btn-primary btn-lg mr-2" (click)="ok()">
                    <i class="mdi mdi-check"></i>
                    Ok
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="rejected">
          <div class="col-md-12 grid-margin">
            <div class="card pt-5 pb-5 text-center">
              <div class="card-body">
                <p class="card-title">Success</p>
                <p class="text-muted"></p>
                <div class="card-text">
                  <i class="mdi mdi-shield-check-outline text-primary" style="font-size: 12em;"></i>
                  <h2>Form Has Been <strong class="text-danger">Rejected</strong></h2>
                  <p class="text-muted">This form has been succesfully rejected.</p>
                </div>
                <div class="card-text mt-4">
                  <button type="button" class="btn btn-primary btn-lg mr-2" (click)="ok()">
                    <i class="mdi mdi-check"></i>
                    Ok
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content -->
      <!-- footer -->
      <app-footer-bar></app-footer-bar>
      <!-- partial -->
    </div>
    <!-- main ends -->
  </div>
</div>

<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Confirm Action</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to <span class="text-primary">{{ action }} this form</span> ?</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.dismiss('no')">No</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('yes')">Yes</button>
  </div>
</ng-template>

<ng-template #viewImgAttachment let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Attachment File</h5>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding: 0px;">
    <img [src]="imgUrl" style="width: 100%;">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('no')">Close</button>
  </div>
</ng-template>

<ng-template #viewDocAttachment let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Attachment File</h5>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>This is a document and cannot be viewed. Please download</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('no')">Close</button>
    <button type="button" class="btn btn-primary" (click)="downloadDoc(documentUrl)">Download</button>
  </div>
</ng-template>

<ng-template #rejectNote let-modal>
  <form [formGroup]="noteForm" (ngSubmit)="rejectForm()">
    <div class="modal-header">
      <h4 class="modal-title font-weight-bold text-uppercase" id="modal-title" style="font-size: 13px;">Rejection
        Message</h4>
      <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <textarea cols="30" rows="10" class="form-control" formControlName="rejectionNote"
          [ngClass]="{'input-control-error': _submitted && f.rejectionNote.errors}"></textarea>
        <div *ngIf="_submitted && f.rejectionNote.errors">
          <p class="input-error" *ngIf="f.rejectionNote.errors.required">Note cannot be left blank! Please type something.</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button *ngIf="!isLoading" type="button" class="btn btn-outline-primary" (click)="modal.dismiss()">Cancel</button>
      <button *ngIf="!isLoading" type="submit" class="btn btn-primary">Process</button>
      <button *ngIf="isLoading" class="btn btn-primary btn-lg mr-2" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">Please wait...</span>
      </button>
    </div>
  </form>
</ng-template>