<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>{{ formName }}</h2>
                  <p class="mb-md-0">Your analytics dashboard template.</p>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 d-none d-md-block ">
                  <i class="mdi mdi-download text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                  <i class="mdi mdi-clock-outline text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                  <i class="mdi mdi-plus text-muted"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="loading" class="row m-5">
          <div class="col-md-12 m-5">
            <div class="d-flex justify-content-center">
              <div class="spinner-border m-5" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="isProcessed" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">Processed / processing</h4>
                <p class="card-text">
                  This {{ formName }} form has either been already processed or is being processed.
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-file-question" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text mt-2">
                    <h3>Processing Or Already Processed Form</h3>
                    <p class="text-muted">{{ form.submission_code }} could already be processed or is in processing</p>
                    <p class="text-muted">{{ form.submission_code }} was last accessed for processing or was processed on {{ lastProcessed | date }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!isProcessed" class="row">
          <div class="col-md-8 offset-md-2 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title">{{ formName }}</p>
                <div class="card-text">
                  <form class="forms-sample">
                    <div class="form-builder-container">
                      <div id="form-render"></div>
                    </div>
                    <button *ngIf="loading" class="btn btn-primary btn-lg mr-2" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      <span class="sr-only">Please wait...</span>
                    </button>
                    <button *ngIf="!loading" type="submit" class="btn btn-primary btn-lg mr-2" (click)="complete()">Complete</button>
                    <button *ngIf="!loading" type="submit" class="btn btn-primary btn-lg mr-2" (click)="process()">Processing</button>
                    <button class="btn btn-light btn-lg" (click)="cancel()">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content ends -->
      <!-- footer -->
      <app-footer-bar></app-footer-bar>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
</div>
