<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Form Templates</h2>
                  <p class="mb-md-0">Your administrative dashboard.</p>
                </div>
                <div class="d-flex">
                  <i class="mdi mdi-home text-muted hover-cursor"></i>
                  <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Home&nbsp;/&nbsp;</p>
                  <p class="text-primary mb-0 hover-cursor">View Forms</p>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0" (click)="openNewForm()">
                  <i class="mdi mdi-plus text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0"
                  (click)="toggleViewMode('list')">
                  <i class="mdi mdi-view-list text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0"
                  (click)="toggleViewMode('grid')">
                  <i class="mdi mdi-view-grid text-muted"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-12 col-md-8 offset-md-2">
            <div class="search-bar">
              <form>
                <input type="text" class="search-form form-control" name="query" [(ngModel)]="query"
                  placeholder="Search by code or by name" aria-label="search" aria-describedby="search"
                  (keydown)="search($event)">
              </form>
            </div>
          </div>
        </div>

        <div *ngIf="loading" class="row m-5">
          <div class="col-md-12 p-md-5">
            <div class="d-flex justify-content-center">
              <div class="spinner-border m-5" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasNoData" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">No Data Found</h4>
                <p class="card-description">
                  No forms found.
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-file-document-edit-outline" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>No Available Templates</h3>
                    <p class="text-muted">There are no created templates yet!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasError && !loading" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">Error Ocuured</h4>
                <p class="card-description">
                  Ooops! Something went wrong!
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-close-network-outline" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>We couldn't get your templates</h3>
                    <p class="text-muted">You may not have internet connection or our servers maybe down.</p>
                    <button class="btn btn-primary" type="button" (click)="retry()">Retry</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!loading && !hasNoData" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="text-lg-center mt-3 mb-5">
                  <div class="btn-group" role="group" aria-label="Sort By">
                    <div class="dropdown">
                      <button type="button" class="btn btn-outline-secondary dropdown-toggle" id="sortMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By</button>
                      <div class="dropdown-menu" aria-labelledby="sortMenuButton">
                        <button type="button" class="dropdown-item" (click)="sort('name')">Template Name</button>
                        <button type="button" class="dropdown-item" (click)="sort('created')">Created Date</button>
                      </div>
                    </div>
                    <div class="d-flex ml-2 sort-buttons">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active': ascSortSelected}" (click)="sortOrder('asc')">
                          <i class="mdi mdi-sort-ascending"></i>
                        </button>
                        <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active': descSortSelected}" (click)="sortOrder('desc')">
                          <i class="mdi mdi-sort-descending"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="viewMode == 'grid'" class="row t-list">
                  <div class="col-md-4 grid-margin stretch-card" *ngFor="let template of templatesList; let i = index">
                    <div class="card hover-cursor animated fadeInDown fast" (click)="view(template)">
                      <div class="card-body">
                        <div class="card-text">
                          <h1 class="display-4 mb-4 mr-3">{{ template.name }}</h1>
                          <div *ngIf="isGitAdmin" class="align-right">
                            <button type="button" class="btn btn-sm"
                              (click)="delete($event, template.id, i)">
                              <i class="mdi mdi-delete-outline text-danger"></i>
                            </button>
                          </div>
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button *ngIf="isGitAdmin" type="button" class="btn btn-outline-secondary"
                              (click)="edit($event, template)">
                              <i class="mdi mdi-pencil-outline"></i>
                              Edit
                            </button>
                            <button type="button" class="btn btn-outline-secondary" (click)="view($event, template)">
                              <i class="mdi mdi-pulse"></i>
                              View
                            </button>
                            <button type="button" class="btn btn-outline-secondary"
                              (click)="import($event, template)">
                              <i class="mdi mdi-download-outline"></i>
                              Use
                            </button>
                            <!-- <button type="button" class="btn btn-outline-secondary" (click)="delete($event, template.id, i)">
                              <i class="mdi mdi-delete-outline"></i>
                              Delete
                            </button> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="viewMode == 'list'" class="row">
                  <div class="col-12">
                    <div class="list-group" style="width: 100%;">
                      <div class="list-group-item hover-cursor list-group-item-action animated fadeInDown"
                        *ngFor="let template of templatesList; let i = index">
                        <div class="row" (click)="view(template)">
                          <div [ngClass]="{'col-8': !isGitAdmin, 'col-6': isGitAdmin}">
                            <h1 class="display-4 mb-1 mt-2">{{ template.name }}</h1>
                          </div>
                          <div [ngClass]="{'col-4': !isGitAdmin, 'col-6': isGitAdmin}">
                            <div class="btn-group mt-2" role="group" aria-label="Basic example">
                              <button *ngIf="isGitAdmin" type="button" class="btn btn-outline-secondary"
                                (click)="edit($event, template)">
                                <i class="mdi mdi-pencil-outline"></i>
                                Edit
                              </button>
                              <button type="button" class="btn btn-outline-secondary" (click)="view($event, template)">
                                <i class="mdi mdi-pulse"></i>
                                View
                              </button>
                              <button type="button" class="btn btn-outline-secondary"
                                (click)="import($event, template)">
                                <i class="mdi mdi-download-outline"></i>
                                Use
                              </button>
                              <button *ngIf="isGitAdmin" type="button" class="btn btn-outline-secondary"
                                (click)="delete($event, template.id, i)">
                                <i class="mdi mdi-delete-outline"></i>
                                Delete
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="loadingMore" class="row m-md-2">
                  <div class="col-md-12 col-sm-12 m-md-2">
                    <div class="d-flex justify-content-center">
                      <div class="spinner-border m-2" style="width: 2rem; height: 2rem;" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="hasMoreError" class="row m-md-2">
                  <div class="col-md-8 col-sm-12 offset-md-2">
                    <div class="alert alert-danger" role="alert">
                      <h4 class="alert-heading">Connection Failed!</h4>
                      <p>
                        Oops!! Couldn't get you the rest of the data. Please make sure you have an active internet
                        connection.
                        Maybe, our servers may be down.
                      </p>
                      <hr>
                      <p class="mb-0">We are really sorry for this inconvenience. Please click on the load more button again.</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="hasMore" class="row">
                  <div class="col-md-4 col-sm-6 offset-sm-3 offset-lg-4">
                    <div class="text-center">
                      <button type="button" class="btn btn-secondary btn-rounded btn-fw" (click)="loadMore()">Load More</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Delete Template ?</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">this template</span> ?</strong></p>
    <p>All information associated with this template will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('delete')">Delete</button>
  </div>
</ng-template>
