.dropdown .dropdown-menu .dropdown-item {
    font-size: .875rem;
    padding: 0.6rem 1.5rem;
}

.search-form {
    border-radius: 30px;
}

.sort-buttons .btn {
    padding-top: 7px;
    padding-bottom: 7px;
}

.t-list .btn-group > .btn, 
.t-list .btn-group-vertical > .btn {
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .btn-group > .btn, .btn-group-vertical > .btn {
        padding-left: 10px;
        padding-right: 10px;
    }
}