<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Welcome back, {{ firstname }}</h2>
                  <p class="mb-md-0">Your administrative dashboard.</p>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title">Enter Code</p>
                <!-- <p class="text-muted">A list of all forms you've filled</p> -->
                <div class="card-text">
                  <div class="row">
                    <div class="col-md-8 offset-md-2">
                      <!-- <i class="mdi mdi-lock-outline" style="font-size: 4em;"></i> -->
                      <div *ngIf="notValidCode" class="mt-2 mb-2">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h3 class="alert-heading">Oops!</h3>
                          <p class="lead"><strong>Wrong Form Code</strong></p>
                          <hr>
                          <p class="mb-0 text-left">
                            There is no corresponding form with the provided code. The code entered is wrong, please
                            check and try again.
                          </p>
                        </div>
                      </div>

                      <form [formGroup]="form" (ngSubmit)="submit()" class="submit-form">
                        <div class="form-group">
                          <input matInput type="text" autofocus formControlName="code" class="form-control large-form"
                            placeholder="Enter Code Here..." [ngClass]="{'input-control-error': submitted && f.code.errors}">
                          <div *ngIf="submitted && f.code.errors">
                            <p class="input-error" *ngIf="f.code.errors.required">Please enter the submission code</p>
                            <p class="input-error" *ngIf="f.code.errors.minlength">The entered code is not a valid submission code.</p>
                            <p class="input-error" *ngIf="f.code.errors.maxlength">The entered code is not a valid submission code.</p>
                          </div>
                        </div>

                        <div class="mt-3">
                          <button *ngIf="loading" class="btn btn-primary btn-lg mr-2" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="sr-only">Please wait...</span>
                          </button>
                          <button *ngIf="!loading" type="submit" class="btn btn-primary btn-lg mr-2">Submit</button>
                          <button type="button" class="btn btn-light btn-lg" (click)="cancel()">Cancel</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="open('submitted')">
              <div class="card-body">
                <p class="card-title">Total No. Of Forms Submitted</p>
                <p class="text-muted">A list of all forms you've filled</p>
                <div class="card-text">
                  <h1 style="font-size: 4em;">{{ totalNoSubmitted }}</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="open('processed')">
              <div class="card-body">
                <p class="card-title">Total No. Of Processed Forms</p>
                <p class="text-muted">A list of all forms you've filled</p>
                <div class="card-text">
                  <h1 style="font-size: 4em;">{{ totalNoProcessed }}</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="open('processing')">
              <div class="card-body">
                <p class="card-title">Total No. Of Forms In-Processing</p>
                <p class="text-muted">A list of all forms you've filled</p>
                <div class="card-text">
                  <h1 style="font-size: 4em;">{{ totalNoProcessing }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- content -->
      <!-- partial -->
      <app-footer-bar></app-footer-bar>
      <!-- partial -->
    </div>
    <!-- main ends -->
  </div>
</div>
