<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">

        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Edit a form section</h2>
                  <p class="mb-md-0">Edit a form section here, just drag and drop the elements or click to add.</p>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
              </div>
            </div>
          </div>
        </div>

        <div [hidden]="created" class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card" style="height: 750px; overflow: scroll;">
              <div class="card-body">
                <p class="card-title">Edit Form Section</p>
                <p class="text-muted">
                  Drag and drop the form elements on your right onto the panel on the left to create your form.
                  You can drag any of the form elements to your desired position to re-arrange the order of the
                  form element. You can also click on an element to add it to your form.
                </p>

                <form [formGroup]="form">
                  <div class="row mt-4">
                    <div class="col-8 offset-2">
                      <div class="form-group">
                        <input type="text" formControlName="heading" class="form-control"
                          placeholder="Enter Section Heading (E.g) Personal Information"
                          [ngClass]="{'input-control-error': submitted && f.heading.errors}">
                        <div *ngIf="submitted && f.heading.errors">
                          <p class="input-error" *ngIf="f.heading.errors.required">Form heading is required</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-builder-container">
                    <div id="fb-editor"></div>
                  </div>

                  <button type="submit" *ngIf="!loading" class="btn btn-primary mt-2 mr-1" (click)="edit()">Update</button>
                  <button type="button" *ngIf="loading" class="btn btn-primary mr-2" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp; &nbsp;
                    Please wait...
                  </button>
                  <button type="button" *ngIf="!loading" class="btn btn-primary mt-2 mr-1" (click)="reset()">Reset</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div [hidden]="!created" class="row">
          <div class="col-md-12 grid-margin">
            <div class="card pt-5 pb-5 text-center">
              <div class="card-body">
                <p class="card-title">Success</p>
                <p class="text-muted"></p>
                <div class="card-text">
                  <i class="mdi mdi-shield-check-outline text-primary" style="font-size: 12em;"></i>
                  <h2>1 Form Section Updated</h2>
                  <h4>{{ sectionHeading }} form section has been updated</h4>
                  <p class="text-muted">You have succesfully updated a form section</p>
                </div>
                <div class="card-text mt-4">
                  <!-- <button type="button" class="btn btn-primary btn-lg btn-icon-text mr-2" (click)="bringBackForm()">
                    <i class="mdi mdi-plus"></i>
                    Create New
                  </button> -->
                  <!-- <button type="button" class="btn btn-primary btn-lg btn-icon-text mr-2" (click)="preview()">
                    <i class="mdi mdi-eye"></i>
                    Preview
                  </button> -->
                  <button type="button" class="btn btn-primary btn-lg btn-icon-text mr-2" (click)="ok()">
                    <i class="mdi mdi-check"></i>
                    Ok
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>