<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>{{ form.form_name || form.name }}</h2>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
              </div>
            </div>
          </div>
        </div>
        <div [hidden]="created" class="row">
          <div class="col-md-8 offset-md-2 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title">{{ form.form_name || form.name }}</p>
                <p class="text-muted">All forms with * are required and shouldn't be left out</p>
                <div class="card-text pt-5">
                  <form class="forms-sample">
                    <div class="form-builder-container">
                      <div id="form-render"></div>
                    </div>
                    <div class="buttons-list">
                      <button *ngIf="loading" class="btn btn-primary btn-lg mr-2" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only">Please wait...</span>
                      </button>
                      <button *ngIf="!loading" type="submit" class="btn btn-primary btn-lg mr-2" (click)="submit()">Submit</button>
                      <button type="button" class="btn btn-light btn-lg" (click)="cancel()">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="created" class="row">
          <div class="col-md-12 grid-margin">
            <div class="card text-center">
              <div class="card-body">
                <p class="card-title">Form Completed Successfully</p>
                <p class="text-muted"></p>
                <div class="card-text">
                  <i class="mdi mdi-shield-check-outline" style="font-size: 12em;"></i>
                  <p class="text-muted">Below is your generated code. Send this code to your branch to get your SSNIT to be processed</p>
                  <div class="code">{{ formGenCode }}</div>
                  <button class="btn btn-primary mr-2 hover-cursor" type="button" (click)="copy()">
                    <i class="mdi mdi-content-copy" style="font-size: 20px;"></i>
                    <span class="sr-only">Please wait...</span>
                  </button>
                  <button class="btn btn-primary mr-2 hover-cursor" type="button" (click)="ok()">Ok</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content -->
      <!-- footer -->
      <app-footer-bar></app-footer-bar>
      <!-- partial -->
    </div>
    <!-- main ends -->
  </div>
</div>

<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Confirm Action</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to <span class="text-primary">submit this form</span> ?</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('no')">No</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('yes')">Yes</button>
  </div>
</ng-template>