<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">

        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Edit Form - {{ _form.name }}</h2>
                  <p class="mb-md-0">Edit a form here, just drag and drop the section or click to add.</p>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                <button *ngIf="isPublished" type="button" class="btn btn-danger btn-icon-text mr-3 mt-2 mt-xl-0" (click)="unpublishForm()">
                  <i class="mdi mdi-block-helper"></i>
                  Unpublish Form
                </button>
                <button *ngIf="!isPublished" type="button" class="btn btn-success btn-icon-text mr-3 mt-2 mt-xl-0" (click)="publishForm()">
                  <i class="mdi mdi-cloud-upload-outline"></i>
                  Publish Form
                </button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="_loading" class="row">
          <div class="col-md-12">
            <div class="d-flex justify-content-center pb-5 pt-5">
              <div class="spinner-border mt-5" style="width: 4rem; height: 4rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <div [hidden]="_loading || created" class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card" style="height: 750px; overflow: scroll;">
              <div class="card-body">
                <p class="card-title">Edit Form</p>
                <p class="text-muted">
                  Drag and drop the form sections on your right onto the panel on the left to create your form.
                  You can drag any of the form elements to your desired position to re-arrange the order of the
                  form element. You can also click on a section to add it to your form.
                </p>

                <form [formGroup]="form">
                  <div class="row mt-4">
                    <div class="col-8 offset-2">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title">Form Name</div>
                          <div class="card-text">
                            <div class="form-group">
                              <input type="text" formControlName="name" class="form-control form-control-lg title-form"
                                placeholder="Whats the name of your form ?"
                                [ngClass]="{'input-control-error': submitted && f.name.errors}">
                              <div *ngIf="submitted && f.name.errors">
                                <p class="input-error" *ngIf="f.name.errors.required">Form name is required</p>
                              </div>
                            </div>
                          </div>

                          <div class="card-text">
                            <div class="row mt-4">
                              <div class="col-6">
                                <div class="card no-card">
                                  <div class="card-body">
                                    <div class="card-title">View</div>
                                    <div class="card-text">
                                      <div class="form-group">
                                        <select class="form-control" formControlName="canView"
                                          [ngClass]="{'input-control-error': submitted && f.canView.errors}">
                                          <option value="" disabled>Can View</option>
                                          <option value="0">No</option>
                                          <option value="1">Yes</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="card no-card">
                                  <div class="card-body">
                                    <div class="card-title">QMS Queue</div>
                                    <div class="card-text">
                                      <div class="form-group">
                                        <select class="form-control" formControlName="canJoin"
                                          [ngClass]="{'input-control-error': submitted && f.canJoin.errors}">
                                          <option value="" disabled>Can Join Queue</option>
                                          <option value="0">No</option>
                                          <option value="1">Yes</option>
                                        </select>
                                        <div *ngIf="submitted && f.canJoin.errors">
                                          <p class="input-error" *ngIf="f.canJoin.errors.required">Can Join Queue is
                                            required</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="col-1"></div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>

                    <div class="row mt-4">
                      <div class="col-2"></div>
                      <div class="col-3">
                        <div class="card">
                          <div class="card-body">
                            <div class="card-title">Company Name</div>
                            <div class="card-text">
                              <div class="form-group">
                                <select class="form-control" formControlName="merchant"
                                  (change)="onMerchantSelect($event)"
                                  [ngClass]="{'input-control-error': submitted && f.merchant.errors}">
                                  <option value="" disabled>Select Company</option>
                                  <option *ngFor="let company of allMerchantsList" [value]="company.id">
                                    {{ company.merchant_name }}
                                  </option>
                                </select>
                                <div *ngIf="submitted && f.merchant.errors">
                                  <p class="input-error" *ngIf="f.merchant.errors.required">Company is required</p>
                                </div>
                              </div>
                            </div>

                            <div class="card-text" *ngIf="showFileUpload">
                              <div class="card-title">PDF Upload</div>
                              <div class="card-text">
                                <div class="form-group">
                                  <input #pdfFile type="file" accept="application/pdf"
                                    (change)="inputFileChanged($event)" class="file-upload-default">
                                  <div class="input-group col-xs-12">
                                    <input type="file" style="overflow: hidden; height: 0px; width: 0px;">
                                    <input type="text" formControlName="pdf" class="form-control file-upload-info"
                                      placeholder="Upload File" readonly>
                                    <span class="input-group-append">
                                      <button class="file-upload-browse btn btn-primary" type="button"
                                        (click)="showFilePicker()" style="padding: 9px 15px;"><i
                                          class="mdi mdi-folder"></i></button>
                                    </span>
                                  </div>
                                  <div *ngIf="submitted && f.pdf.errors">
                                    <p class="input-error" *ngIf="f.pdf.errors.required">PDF file is required</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-3">
                        <div class="card">
                          <div class="card-body">
                            <div class="card-title">Terms & Conditions</div>
                            <div class="card-text">
                              <div class="form-group">
                                <select class="form-control" formControlName="hasTnc"
                                  [ngClass]="{'input-control-error': submitted && f.hasTnc.errors}"
                                  (change)="tncSelected($event)">
                                  <option value="" disabled>Has terms & Conditions</option>
                                  <option value="0">No</option>
                                  <option value="1">Yes</option>
                                </select>
                                <div *ngIf="submitted && f.hasTnc.errors">
                                  <p class="input-error" *ngIf="f.hasTnc.errors.required">This options is required</p>
                                </div>
                              </div>
                            </div>

                            <div class="card-text" *ngIf="showTncFileUpload">
                              <div class="card-title">File Upload</div>
                              <div class="card-text">
                                <div class="form-group">
                                  <input #tncFile type="file" accept="text/plain" (change)="inputFileChanged_1($event)"
                                    class="file-upload-default">
                                  <div class="input-group col-xs-12">
                                    <input type="file" style="overflow: hidden; height: 0px; width: 0px;">
                                    <input type="text" formControlName="tnc" class="form-control file-upload-info"
                                      placeholder="Upload File" readonly>
                                    <span class="input-group-append">
                                      <button class="file-upload-browse btn btn-primary" type="button"
                                        (click)="showFilePicker_1()" style="padding: 9px 15px;"><i
                                          class="mdi mdi-folder"></i></button>
                                    </span>
                                  </div>
                                  <div *ngIf="submitted && f.tnc.errors">
                                    <p class="input-error" *ngIf="f.tnc.errors.required">TNC file is required</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-2">
                        <div class="card">
                          <div class="card-body">
                            <div class="card-title">Requires Signature</div>
                            <div class="card-text">
                              <div class="form-group">
                                <select class="form-control" formControlName="signature"
                                  [ngClass]="{'input-control-error': submitted && f.signature.errors}"
                                  (change)="tncSelected($event)">
                                  <option value="" disabled>Requires Signature</option>
                                  <option value="0">No</option>
                                  <option value="1">Yes</option>
                                </select>
                                <div *ngIf="submitted && f.signature.errors">
                                  <p class="input-error" *ngIf="f.signature.errors.required">This options is required
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-2"></div>
                    </div>
                    <!-- <div class="col-4">
                      <div class="form-group">
                        <label class="label">Form Name</label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Whats the name of your form ?"
                          [ngClass]="{'input-control-error': submitted && f.name.errors}">
                        <div *ngIf="submitted && f.name.errors">
                          <p class="input-error" *ngIf="f.name.errors.required">Form name is required</p>
                        </div>
                      </div>
                    </div>
                    <div [ngClass]="{'col-3': showFileUpload, 'col-4': !showFileUpload}">
                      <div class="form-group">
                        <label class="label">Select Company</label>
                        <select class="form-control" formControlName="merchant" (change)="onMerchantSelect($event)"
                          [ngClass]="{'input-control-error': submitted && f.merchant.errors}">
                          <option value="">Select Company</option>
                          <option *ngFor="let company of allMerchantsList" [value]="company.id">
                            {{ company.merchant_name }}
                          </option>
                        </select>
                        <div *ngIf="submitted && f.merchant.errors">
                          <p class="input-error" *ngIf="f.merchant.errors.required">Company is required</p>
                        </div>
                      </div>
                    </div>
                    <div [ngClass]="{'col-2': showFileUpload, 'col-4': !showFileUpload}">
                      <div class="form-group">
                        <label class="label">Can View</label>
                        <select class="form-control" formControlName="canView"
                          [ngClass]="{'input-control-error': submitted && f.canView.errors}">
                          <option value="" disabled>Can View</option>
                          <option value="0">No</option>
                          <option value="1">Yes</option>
                        </select>
                      </div>
                    </div>
                    <div *ngIf="showFileUpload" class="col-3">
                      <div class="form-group">
                        <label class="label">Upload PDF File</label>
                        <input #pdfFile type="file" accept="application/pdf" (change)="inputFileChanged($event)" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="file" style="overflow: hidden; height: 0px; width: 0px;">
                          <input type="text" formControlName="pdf" class="form-control file-upload-info"
                            placeholder="Upload Form PDF" readonly>
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button"
                              (click)="showFilePicker()" style="padding: 9px 15px;"><i class="mdi mdi-folder"></i></button>
                          </span>
                        </div>
                        <div *ngIf="submitted && f.pdf.errors">
                          <p class="input-error" *ngIf="f.pdf.errors.required">PDF file is required</p>
                        </div>
                      </div>
                    </div>
                  </div> -->

                  <div class="form-builder-container">
                    <div id="fb-editor"></div>
                  </div>

                  <button type="submit" *ngIf="!loading" class="btn btn-primary mt-2 mr-1" (click)="edit()">Update</button>
                  <button type="button" *ngIf="loading" class="btn btn-primary mr-2" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp; &nbsp;
                    Please wait...
                  </button>
                  <button type="button" *ngIf="!loading" class="btn btn-primary mt-2 mr-1" (click)="reset()">Reset</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="created" class="row">
          <div class="col-md-12 grid-margin">
            <div class="card pt-5 pb-5 text-center">
              <div class="card-body">
                <p class="card-title">Success</p>
                <p class="text-muted"></p>
                <div class="card-text">
                  <i class="mdi mdi-shield-check-outline text-primary" style="font-size: 12em;"></i>
                  <h2>1 Form Updated</h2>
                  <h4>{{ formName }} Form has been updtaed</h4>
                  <p class="text-muted">You have succesfully updated a form</p>
                </div>
                <div class="card-text mt-4">
                  <!-- <button type="button" class="btn btn-primary btn-lg btn-icon-text mr-2" (click)="bringBackForm()">
                    <i class="mdi mdi-plus"></i>
                    Create New
                  </button> -->
                  <button type="button" class="btn btn-primary btn-lg btn-icon-text mr-2" (click)="ok()">
                    <i class="mdi mdi-check"></i>
                    Ok
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loader let-modal>
  <div class="modal-body">
    <div class="d-flex justify-content-center">
      <div class="spinner-border m-5" style="width: 4rem; height: 4rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <p class="text-center">Please wait...</p>
  </div>
</ng-template>

<ng-template #publish let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Publish Form ?</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to publish <span class="text-primary">this form</span> ?</strong></p>
    <p>Publishing this form makes it visible to all client users. Please be sure before you continue.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('publish')">Publish</button>
  </div>
</ng-template>

<ng-template #unpublish let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Unpublish Form ?</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to unpublish <span class="text-primary">this form</span> ?</strong></p>
    <p>Unpublishing this form makes it invisible to all client users. Please be sure before you continue.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('unpublish')">Unpublish</button>
  </div>
</ng-template>

<ng-template #status let-modal>
  <div class="modal-body text-center">
    <h3>{{ alertTitle }}</h3>
    <i *ngIf="alertSuccess" class="mdi mdi-check-circle-outline text-primary" style="font-size: 7em;"></i>
    <i *ngIf="!alertSuccess" class="mdi mdi-close-circle-outline text-danger" style="font-size: 7em;"></i>
    <p>{{ alertMessage }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Ok</button>
  </div>
</ng-template>