<!-- git admin -->
<nav *ngIf="isGitAdmin" class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/git_admin">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/git_admin/setup_form">
        <i class="mdi mdi-file-document-edit-outline menu-icon"></i>
        <span class="menu-title">New Form</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/git_admin/lists/form">
        <i class="mdi mdi-file-document-box-outline menu-icon"></i>
        <span class="menu-title">All Forms</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#template" aria-expanded="false" aria-controls="template">
        <i class="mdi mdi-cart-outline menu-icon"></i>
        <span class="menu-title">Templates</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="template">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/templates/create">
              <i class="mdi mdi-plus-outline menu-icon"></i>
              <span class="menu-title">Create Template</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/templates/list">
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            <span class="menu-title">All Templates</span>
          </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#account" aria-expanded="false" aria-controls="account">
        <i class="mdi mdi-account-group-outline menu-icon"></i>
        <span class="menu-title">Accounts</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="account">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/git_admin/create/user_account">
              <i class="mdi mdi-plus menu-icon"></i>
              <span class="menu-title">Setup Account</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/git_admin/lists/front_desk">
              <i class="mdi mdi-desktop-mac menu-icon"></i>
              <span class="menu-title">Front Desks</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/git_admin/lists/admin">
              <i class="mdi mdi-account-supervisor menu-icon"></i>
              <span class="menu-title">GIT Admins</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/git_admin/lists/branch_admin">
              <i class="mdi mdi-leaf-maple menu-icon"></i>
              <span class="menu-title">Branch Admins</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/git_admin/lists/company_admin">
              <i class="mdi mdi-lighthouse menu-icon"></i>
              <span class="menu-title">Company Admins</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/git_admin/lists/branch_executive">
              <i class="mdi mdi-script-outline menu-icon"></i>
              <span class="menu-title">Branch Super-Executives</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/git_admin/lists/super_executive">
              <i class="mdi mdi-view-dashboard-outline menu-icon"></i>
              <span class="menu-title">Super Executives</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#company" aria-expanded="false" aria-controls="company">
        <i class="mdi mdi-circle-outline menu-icon"></i>
        <span class="menu-title">Company</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="company">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/git_admin/create/company">Create New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/git_admin/lists/company">View Companies</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#branches" aria-expanded="false" aria-controls="branches">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span class="menu-title">Branches</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="branches">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/git_admin/create/branch">Create New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/git_admin/lists/branch">View Branches</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
<!-- git-admin -->

<!-- comp admin -->
<nav *ngIf="isAdmin" class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/create/form">
        <i class="mdi mdi-file-document-edit-outline menu-icon"></i>
        <span class="menu-title">New Form</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/lists/form">
        <i class="mdi mdi-file-document-box-outline menu-icon"></i>
        <span class="menu-title">All Forms</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/templates/list">
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        <span class="menu-title">All Templates</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#account" aria-expanded="false" aria-controls="account">
        <i class="mdi mdi-account-group-outline menu-icon"></i>
        <span class="menu-title">Accounts</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="account">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/create/account">
              <i class="mdi mdi-plus menu-icon"></i>
              <span class="menu-title">Setup Account</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/lists/account">
              <i class="mdi mdi-desktop-mac menu-icon"></i>
              <span class="menu-title">Front Desks</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/lists/branch">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span class="menu-title">View Branches</span>
      </a>
    </li>
  </ul>
</nav>
<!-- /.comp admin -->

<!-- client -->
<nav *ngIf="isClient" class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/client">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/client/form_data">
        <i class="mdi mdi-file-document-edit-outline menu-icon"></i>
        <span class="menu-title">My Form Data</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/client/forms_filled">
        <i class="mdi mdi-file-document-edit-outline menu-icon"></i>
        <span class="menu-title">Submitted Forms</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/client/unsent_forms">
        <i class="mdi mdi-file-document-edit-outline menu-icon"></i>
        <span class="menu-title">UnProcessed Forms</span>
      </a>
    </li>
  </ul>
</nav>
<!-- /.client sidemenu -->

<!-- front-desk -->
<nav *ngIf="isFrontDesk" class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">
        <i class="mdi mdi-file-document-edit-outline menu-icon"></i>
        <span class="menu-title">Submitted Forms</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">
        <i class="mdi mdi-file-document-edit-outline menu-icon"></i>
        <span class="menu-title">Processed Forms</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">
        <i class="mdi mdi-file-document-edit-outline menu-icon"></i>
        <span class="menu-title">Forms In-Processing</span>
      </a>
    </li>
  </ul>
</nav>
<!-- /.front-desk -->