<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Welcome back, {{ firstname }}</h2>
                  <p class="mb-md-0">Your analytics dashboard template.</p>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!created" class="row mt-5">
          <div class="col-md-8 offset-md-2 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title">Edit Access Code</p>
                <p class="text-muted">A list of all forms you've filled</p>
                <div class="card-text">
                  <form [formGroup]="form" (ngSubmit)="create()">
                    <div class="form-group">
                      <input type="text" class="form-control form-control-lg" formControlName="merchant"
                        placeholder="Choose Company" [matAutocomplete]="m_auto">
                      <mat-autocomplete #m_auto="matAutocomplete"
                        (optionSelected)="companySelected($event.option.value)">
                        <mat-option *ngFor="let item of filteredMerchants | async" [value]="item">
                          {{ item }}
                        </mat-option>
                      </mat-autocomplete>
                      <div *ngIf="submitted && f.merchant.errors">
                        <p class="input-error" *ngIf="f.merchant.errors.required">Company is required</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-lg" formControlName="branch"
                        placeholder="Choose Branch" [matAutocomplete]="auto_1">
                      <mat-autocomplete #auto_1="matAutocomplete">
                        <mat-option *ngFor="let item of filteredBranches | async" [value]="item">
                          {{ item }}
                        </mat-option>
                      </mat-autocomplete>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-lg" formControlName="sourceName"
                        placeholder="Source Name" [ngClass]="{'input-control-error': submitted && f.sourceName.errors}">
                      <div *ngIf="submitted && f.sourceName.errors">
                        <p class="input-error" *ngIf="f.sourceName.errors.required">Source name is required</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-lg" formControlName="deviceName"
                        placeholder="Device Name" [ngClass]="{'input-control-error': submitted && f.deviceName.errors}">
                      <div *ngIf="submitted && f.deviceName.errors">
                        <p class="input-error" *ngIf="f.deviceName.errors.required">Device name is required</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" *ngIf="!loading" class="btn btn-primary btn-lg mr-2">Edit Access Code</button>
                      <button *ngIf="loading" class="btn btn-primary btn-lg mr-2" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;
                        &nbsp;
                        Please wait
                      </button>
                      <button type="button" class="btn btn-light btn-lg" (click)="cancel()">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="created" class="row">
          <div class="col-md-12 grid-margin">
            <div class="card pt-5 pb-5 text-center">
              <div class="card-body">
                <p class="card-title">Success</p>
                <p class="text-muted"></p>
                <div class="card-text">
                  <i class="mdi mdi-shield-check-outline text-primary" style="font-size: 12em;"></i>
                  <h2>Access code updated</h2>
                  <p class="text-muted">You have succesfully updated an access code.</p>
                </div>
                <div class="card-text mt-4">
                  <button type="button" class="btn btn-dark btn-lg mr-2" (click)="ok()">
                    <i class="mdi mdi-check"></i>
                    Ok
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content ends -->
      <!-- partial -->
      <app-footer-bar></app-footer-bar>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
</div>

<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Cancel ?</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('closed')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to cancel <span class="text-primary">the creation of this access code</span>
        ?</strong></p>
    <p>All information provided will be permanently lost.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('no')">No</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('yes')">Yes</button>
  </div>
</ng-template>