<div *ngIf="loading" class="row m-5">
  <div class="col-md-12 col-sm-12 m-md-5">
    <div class="d-flex justify-content-center">
      <div class="spinner-border m-5" style="width: 5rem; height: 5rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="hasNoData" class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card text-center pt-5 pb-5">
      <div class="card-body mt-5 mb-5">
        <h4 class="card-title">No Accounts Found</h4>
        <p class="card-description"></p>
        <div class="text-lg-center mt-5 mb-5">
          <div class="card-text">
            <i class="mdi mdi-account-alert-outline" style="font-size: 8em;"></i>
          </div>
          <div class="card-text">
            <h3 class="display-4">No {{ user }} Accounts</h3>
            <p class="text-muted">All {{ user }} accounts would be displayed here</p>
          </div>
          <div class="card-text mt-3 mb-5">
            <button class="btn btn-outline-primary btn-lg btn-icon-text" (click)="createAccount()">
              <i class="mdi mdi-plus"></i>
              Create New
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="hasError" class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card text-center pt-5 pb-5">
      <div class="card-body mt-5 mb-5">
        <h4 class="card-title">Error Ocuured</h4>
        <p class="card-description">
          Ooops! Something went wrong!
        </p>
        <div class="text-lg-center mt-5 mb-5">
          <div class="card-text">
            <i class="mdi mdi-close-network-outline" style="font-size: 8em;"></i>
          </div>
          <div class="card-text">
            <h3>We couldn't get your {{ user }} accounts.</h3>
            <p class="text-muted">You may not have internet connection or our servers maybe down.</p>
            <button class="btn btn-primary" type="button" (click)="retry()">Retry</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading && !hasNoData && !hasError" class="row">
  <div class="col-md-12">
    <div class="text-lg-center mt-3 mb-5">
      <div class="btn-group" role="group" aria-label="Sort By">
        <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active': filterState == 'all'}" (click)="showAll()">All</button>
        <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active': filterState == 'active'}" (click)="showActive()">Active</button>
        <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active': filterState == 'inactive'}" (click)="showInActive()">In Active</button>
        <div class="dropdown">
          <button type="button" class="btn btn-outline-secondary dropdown-toggle" id="sortMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By</button>
          <div class="dropdown-menu" aria-labelledby="sortMenuButton">
            <button type="button" class="dropdown-item" (click)="sort('username')">Username</button>
            <button type="button" class="dropdown-item" (click)="sort('email')">Email Address</button>
            <button type="button" class="dropdown-item" (click)="sort('merchant')">Company Name</button>
            <button type="button" class="dropdown-item" (click)="sort('status')">Status</button>
            <button type="button" class="dropdown-item" (click)="sort('created')">Date Created</button>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content py-0 px-0">
      <div *ngIf="showDeleteMessage">
        <div *ngIf="isDeleteSuccess" class="alert alert-success alert-dismissible fadeOut" role="alert">
          <strong>Success!</strong> 1 Super Executive account deleted successfully
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div *ngIf="!isDeleteSuccess" class="alert alert-success alert-dismissible fadeOut" role="alert">
          <strong>Ooops!</strong> Something went wrong deleting a super executive account. Please try again.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="tab-pane fade show active" id="companies" role="tabpanel" aria-labelledby="companies-tab">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Username</th>
                <th>Email Address</th>
                <th *ngIf="userType != 20">Company Name</th>
                <th>Status.</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr class="hover-cursor" *ngFor="let user of collection; let i = index">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td *ngIf="userType != 20">{{ user.merchant_name }}</td>
                <td *ngIf="user.status == 1"><label class="badge badge-success text-center">Active</label></td>
                <td *ngIf="user.status != 1"><label class="badge badge-danger text-center">In-Active</label></td>
                <td>
                  <div class="d-flex align-items-end flex-wrap">
                    <button type="button" class="btn btn-light bg-white btn-icon mr-3 d-sm-none d-md-block"
                      data-toggle="tooltip" data-placement="top" title="Edit" (click)="_edit(user.id)">
                      <i class="mdi mdi-pencil-outline text-muted"></i>
                    </button>
                    <button type="button" class="btn btn-light bg-white btn-icon mr-3 d-sm-none d-md-block "
                      data-toggle="tooltip" data-placement="top" title="View Details" (click)="_view(user.id)">
                      <i class="mdi mdi-eye-outline text-muted"></i>
                    </button>
                    <button type="button" class="btn btn-light bg-white btn-icon mr-3 d-sm-none d-md-block"
                      data-toggle="tooltip" data-placement="top" title="Delete" (click)="_delete(user.id, i)">
                      <i class="mdi mdi-delete-outline text-muted"></i>
                    </button>
                    <!-- <button type="button" class="btn btn-light bg-white btn-icon mr-3 d-sm-block">
                      <i class="mdi mdi-dots-vertical text-muted"></i>
                    </button> -->
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loader let-modal>
  <div class="modal-body">
    <div class="d-flex justify-content-center">
      <div class="spinner-border m-5" style="width: 4rem; height: 4rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <p class="text-center">Please wait...</p>
  </div>
</ng-template>

<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Delete User ?</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">this user</span> ?</strong></p>
    <p>All information associated with this user will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('delete')">Delete</button>
  </div>
</ng-template>