<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Forms369 </a>
</nav>

<div class="view-body">
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-12">
        <div class="text-center">
          <h2>Privacy Policies</h2>
          <h6>Last Updated: 07/26/2020</h6>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <h6>Introduction</h6>
      <p>
        When you use our Solutions, you are trusting us with your information. We understand this is a big
        responsibility and we work hard to protect your information and put you in control. theGiTLab respects the
        privacy of its users (“you”) and has developed this Privacy Policy to demonstrate its commitment to protecting
        your privacy. This Privacy Policy is meant to help you understand our data security, what information we
        collect, why we collect it, how that information may be used, with whom it may be shared, and your choices about
        such uses and disclosures. We encourage you to read this Privacy Policy carefully when using our application. By
        using Solutions, you are accepting the practices described in this Privacy Policy. If you have any questions
        about this privacy practice, please refer to the end of this Privacy Policy for information on how to contact us
        or request our data protection certification from info@dataprotection.org.gh or visit Data protection Ghana
        website at Data Protection, Ghana.
      </p>
    </div>
    <div class="row">
      <h6>Data Security</h6>
      <p>
        All personal information that we collect about you will be recorded, used, and protected by us in accordance
        with applicable data protection legislation and this privacy policy. We work hard to protect you and theGiTLab
        from unauthorized access, alteration, disclosure or destruction of information we hold, including:
      </p>
      <ul>
        <li>End to end encryption to ensure full protection during data transfer</li>
        <li>Two-way verification to help you protect your account</li>
        <li>Critical analytic processes regularly to ensure continues system data protection</li>
      </ul>
    </div>
    <div class="row">
      <h6>Information Security</h6>
      <p>
        theGiTLab takes the security of your personal information seriously. We use industry standard Secure Sockets
        Layer (SSL) encryption technology to guard your information. In addition, we have security procedures in place
        to protect our computerized databases from loss and misuse, and only allow access to them when it is absolutely
        necessary to do so. A one-time access code is required to access all theGiTLab platform for the first time. A
        password is also required to access all our solutions, you are responsible for keeping your password secure and
        confidential. Kindly do well not to share or disclose your password to any other person.
      </p>
    </div>
    <div class="row">
      <h6>Information We Collect About You</h6>
      <p>
        We may collect Personal Information, including Sensitive Data, and other information. Personal Information
        includes individually identifiable information that would allow us to determine the actual identity of, and
        contact, a specific living person. Sensitive Data includes information, comments or content that you optionally
        provide that may reveal your ethnic origin, nationality, religion and/or sexual orientation. By providing
        Sensitive Data to us, you consent to the collection, use and disclosure of it as permitted by applicable privacy
        laws. When you provide personal information through our solutions, the information may be sent to servers
        located in the United States and countries around the world. Aside from the information we collect from you
        during signup, we may collect and store any personal information you provide while using our applications or in
        some other manner. This may include identifying information, such as your name, email address, photos, and
        personal description. Also, if you contact us with a customer service or other inquiry, you provide us with the
        content of that communication. We automatically collect information from your device when you use our
        applications. This information can include your IP address, device ID and type, the operating system used by
        your device, access times, and your mobile device’s geographic location while our application is actively
        running. When you use our solutions, we may assign your device one or more cookies or other technologies that
        facilitate personalization to facilitate access and personalize your experience. We may allow service providers,
        advertising companies and ad networks, and other third parties to display advertisements on our platforms and
        elsewhere. These companies may use tracking technologies, such as cookies or web beacons, to collect information
        about users who view or interact with their advertisements. We do not provide any non-masked or non-obscured
        personal information to third parties. Some of these third-party advertising companies may be advertising
        networks that are members of the Network Advertising Initiative, which offers a single location to opt out of ad
        targeting from member companies.
      </p>
    </div>
    <div class="row">
      <h6>How We Use the Information We Collect</h6>
      <p>
        We may use information that we collect about you to deliver and improve our products and services and manage our
        business. We also use the information we collect to manage your account and provide you with customer support,
        perform research and analysis about you. In addition, we use information we collect, like your email address, to
        interact with you directly. For example, we may send you a notification if we detect suspicious activity, like
        an attempt to sign into your account from an unusual location. Or we may let you know about upcoming changes or
        improvements to our applications. And if you contact us, we will keep a record of your request in order to help
        solve any issues you might be facing. We may also use your information to develop, display, and track content
        and advertising tailored to your interests on our solutions and other platforms.
      </p>
    </div>
    <div class="row">
      <h6>Sharing Your Information</h6>
      <p>
        When you register as a user on any of our platforms, your profile will be viewable by other users of the
        solution. Other users will be able to view information you have provided to us on such platforms. We do not
        share your personal information with others except as indicated in this Privacy Policy or when we inform you and
        give you an opportunity to opt out of having your personal information shared. We may share personal information
        with third parties such as service providers that perform certain services on our behalf. Services these third
        parties may provide include performing business and sales analysis, ad tracking and analytics, member
        screenings, and supporting our applications functionality. These third-party service providers may have access
        to personal information needed to perform their functions but are not permitted to share or use such information
        for any other purposes. We may disclose your information, including personal information in response to a
        subpoena or similar investigative demand, a court order, or a request for cooperation from a law enforcement or
        other government agency. We may also use your information to establish or exercise our legal rights, defend
        against legal claims, or as otherwise required by law. We may disclose your information when we believe
        disclosure is appropriate in connection with efforts to investigate, prevent, or take other action regarding
        illegal activity, suspected fraud or other wrongdoing. We may also disclose your information to protect and
        defend the rights, property or safety of our company, our users, our employees, or others; to comply with
        applicable law or cooperate with law enforcement.
      </p>
    </div>
    <div class="row">
      <h6>Accessing and Updating Your Information</h6>
      <p>
        If you have an account on any of our platforms, you have the ability to review and update your personal
        information within the platform by opening your account and going to settings. Applicable privacy laws may allow
        you the right to access and/or request the correction of errors or omissions in your personal information that
        is in our custody or under our control. Our Privacy Officer will assist you with the access request. We will
        respond to requests within the time allowed by all applicable privacy laws and will make every effort to respond
        as accurately and completely as possible. Any corrections made to personal information will be promptly sent to
        any organization to which it was disclosed. In certain exceptional circumstances, we may not be able to provide
        access to certain personal information we hold. For security purposes, not all personal information is
        accessible and amendable by the Privacy Officer. If access or corrections cannot be provided, we will notify the
        individual making the request within 30 days, in writing of the reasons for the refusal.
      </p>
    </div>
    <div class="row">
      <h6>Data Retention</h6>
      <p>
        We keep your information only as long as we need it for legitimate business purposes and as permitted by
        applicable legal requirements. If you close your account, we will retain certain data for analytical purposes
        and recordkeeping integrity, as well as to prevent fraud, enforce our terms of use, take actions we deem
        necessary to protect the integrity of our service or our users, or take other actions otherwise permitted by
        law. In addition, if certain information has already been provided to third parties as described in this Privacy
        Policy, retention of that information will be subject to those third parties’ policies.
      </p>
    </div>
    <div class="row">
      <h6>Your Privacy Control</h6>
      <p>
        You can choose not to provide us with certain information, but that may result in you being unable to use
        certain features of our platform. Our solutions may also deliver notifications to your phone or mobile device.
        You have the option to disable these notifications by changing the settings on your mobile device. You can also
        control information collected by cookies. You can delete or decline cookies by changing your device settings.
      </p>
    </div>
    <div class="row">
      <h6>How We Protect Your Personal Information</h6>
      <p>
        We take security measures to help safeguard your personal information from unauthorized access and disclosure.
        However, no system can be completely secure. Therefore, although we take steps to secure your information, we do
        not promise, and you should not expect, that your personal information, posts, or other information will always
        remain secure. Users should also take care with how they handle and disclose their personal information and
        should avoid sending personal information through insecure email. You agree that we may communicate with you
        electronically regarding security, privacy, and administrative issues, such as security breaches. We may also
        send an email to you at the email address you have provided to us.
      </p>
    </div>
    <div class="row">
      <h6>Changes to this Privacy Policy</h6>
      <p>
        We will occasionally update this Privacy Policy to reflect changes in the law, our data collection and use
        practices, the features of our app, or advances in technology. When we post changes to this Privacy Policy, we
        will revise the “last updated” date at the top of this Privacy Policy, which will be posted under “Settings”,
        and you should regularly check for the most recent version, which is the version that applies. If we make any
        material changes to this Privacy Policy, we will notify you of the changes by reasonable means. Your continued
        use of our solutions following the posting of changes to this policy will mean you consent to and accept those
        changes. If you do not consent to such changes you can delete your account.
      </p>
    </div>
    <div class="row">
      <h6>How to Contact Us</h6>
      <p>
        If you have any questions about this Privacy Policy, please contact us by email on info@thegitlab.com.
      </p>
    </div>
  </div>
</div>