<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>My Profile</h2>
                </div>
                <div class="d-flex">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="loading" class="row p-5">
          <div class="col-md-12 p-md-5">
            <div class="d-flex justify-content-center">
              <div class="spinner-border m-5" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!hasData && !loading" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">No Data Found</h4>
                <p class="card-description">
                  No user data found.
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-account-card-details-outline" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>No Available Data</h3>
                    <p class="text-muted">
                      You havent filled any form yet. All the data you provided will be displayed here once you fill a form.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div *ngIf="isConnected" class="row">
          <div class="col-md-12 grid-margin">
            <div class="card text-center">
              <div class="card-body">
                <p class="card-title">Offline</p>
                <p class="text-muted"></p>
                <div class="card-text">
                  <i class="mdi mdi-wifi-off" style="font-size: 12em;"></i>
                  <h2>No Internet Connection</h2>
                  <p class="text-muted">You may not have internet connection or our servers maybe down.</p>
                  <button class="btn btn-primary" type="button" (click)="retry()">Retry</button>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div *ngIf="hasError" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">Error Ocuured</h4>
                <p class="card-description">
                  Ooops! Something went wrong!
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-close-network-outline" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>We couldn't find any forms</h3>
                    <p class="text-muted">You may not have internet connection or our servers maybe down.</p>
                    <button class="btn btn-primary" type="button" (click)="retry()">Retry</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasData && !loading" class="row">
          <div class="col-lg-8 offset-lg-2 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="card-text">
                  <div class="mt-3 mb-3" *ngFor="let section of allFormSections">
                    <h6 class="text-uppercase mb-3">{{ section.heading }}</h6>
                    <div class="form-group" *ngFor="let item of section.form_fields">
                      <!-- Input fields -->
                      <div *ngIf="item.type == 'text'">
                        <label><strong>{{ item.label }}</strong></label>
                        <input type="{{ item.type }}" id="{{ item.name }}" name="{{ item.name }}" class="form-control">
                      </div>

                      <!-- Radio buttons -->
                      <div *ngIf="item.type == 'radio-group'">
                        <label><strong>{{ item.label }}</strong></label>
                        <div style="width: 100%; float: left;" *ngFor="let radio of item.values">
                          <input style="width: 10%; float: left; margin-right: 10px;" type="radio" id="{{ item.name }}" name="{{ item.name }}" class="form-control">
                          <p style="width: 80%; padding-top: 13px;">{{ radio.label }}</p>
                        </div>
                      </div>

                      <!-- checkboxes -->
                      <div *ngIf="item.type == 'checkbox-group'">
                        <label><strong>{{ item.label }}</strong></label>
                        <div style="width: 100%; float: left;" *ngFor="let checkbox of item.values">
                          <input style="width: 10%; float: left; margin-right: 10px;" type="checkbox" id="{{ item.name }}" name="{{ item.name }}" class="form-control">
                          <p style="width: 80%; padding-top: 13px;">{{ checkbox.label }}</p>
                        </div>
                      </div>

                      <!-- date picker -->
                      <div *ngIf="item.type == 'date'">
                        <label><strong>{{ item.label }}</strong></label>
                        <input type="{{ item.type }}" id="{{ item.name }}" name="{{ item.name }}" class="form-control">
                      </div>

                      <!-- file -->
                      <div *ngIf="item.type == 'file'">
                        <label><strong>{{ item.label }}</strong></label>
                        <input multiple type="{{ item.type }}" id="{{ item.name }}" name="{{ item.name }}" class="form-control">
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-group mt-3">
                    <button *ngIf="updating" class="btn btn-primary btn-lg mr-2" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      <span class="sr-only">Please wait...</span>
                    </button>
                    <button *ngIf="!updating" type="submit" class="btn btn-primary btn-lg mr-2" (click)="save()">Save Changes</button>
                    <button type="button" class="btn btn-light btn-lg" (click)="cancel()">Cancel</button>
                  </div>
                  <!-- <div class="form-group" *ngFor="let item of allUserData | keyvalue">
                    <label><strong>{{ transformToRealText(item.key) | uppercase }}</strong></label>
                    <input type="text" id="{{ item.key }}" class="form-control" [value]="item.value">
                  </div>
                  <div class="form-group mt-3">
                    <button *ngIf="updating" class="btn btn-primary btn-lg mr-2" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      <span class="sr-only">Please wait...</span>
                    </button>
                    <button *ngIf="!updating" type="submit" class="btn btn-primary btn-lg mr-2" (click)="save()">Save Changes</button>
                    <button type="button" class="btn btn-light btn-lg" (click)="cancel()">Cancel</button>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Confirm Action</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to <span class="text-primary">discard all the changes you've made</span> ?</strong>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('no')">No</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('yes')">Yes</button>
  </div>
</ng-template>

<ng-template #updated let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ alert_title }}</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ alert_message }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Ok</button>
  </div>
</ng-template>