<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2 class="page-title">My Profile</h2>
                </div>
                <div class="d-flex">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="loading" class="row p-5">
          <div class="col-md-12">
            <div class="d-flex justify-content-center">
              <div class="spinner-border m-5" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!hasData && !loading" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">No Data Found</h4>
                <p class="card-description">
                  No user data found.
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-account-card-details-outline" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>No Available Data</h3>
                    <p class="text-muted">
                      You havent filled any form yet. All the data you provided will be displayed here once you fill a form.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasError" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">Error Ocuured</h4>
                <p class="card-description">
                  Ooops! Something went wrong!
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-close-network-outline" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>We couldn't find any forms</h3>
                    <p class="text-muted">You may not have internet connection or our servers maybe down.</p>
                    <button class="btn btn-primary" type="button" (click)="retry()">Retry</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasData && !loading" class="row">
          <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8 offset-md-2 grid-margin stretch-card">
            <div class="card">
              <div class="card-body" style="padding-left: 0.2rem; padding-right: 0.2rem;">
                <h4 class="card-title pl-5">Sections</h4>
                <div class="card-text">
                  <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Primary Information
                          </button>
                        </h2>
                      </div>

                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                          <!-- Primary Information -->
                          <div class="form-group" *ngFor="let item of primaryUserData | keyvalue : returnZero">
                            <label><strong class="text-capitalize">{{ transformToRealText(item.key) }}</strong></label>
                            <input type="text" id="{{ item.key }}" class="form-control" [value]="item.value" disabled>
                          </div>
                          <!-- /.Primary Information -->
                        </div>
                      </div>
                    </div>

                    <!-- Attachments -->
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="true" aria-controls="collapseTwo">
                            Form Attachments / Documents
                          </button>
                        </h2>
                      </div>

                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                        data-parent="#accordionExample">
                        <div class="card-body attachments-card">
                          <div class="text-center mt-4 pt-5" *ngIf="existingAttachments.length == 0">
                            <h3>No Attachments</h3>
                            <i class="mdi mdi-paperclip" style="font-size: 6em;"></i>
                          </div>

                          <div *ngIf="existingAttachments.length > 0">
                            <div class="row" *ngFor="let file of existingAttachments; let i = index">
                              <div class="col-10" style="padding-right: 8px;">
                                <ol class="files-list">
                                  <li class="file-item">
                                    <i class="mdi mdi-paperclip menu-icon"></i>
                                    <h5 class="file-link-title"><strong>{{ transformToRealText(file.key) }}</strong>
                                    </h5>
                                    <a class="alert-link file-link" (click)="openModal($event, file.url)">{{ file.url }}</a>
                                  </li>
                                </ol>
                              </div>
                              <div class="col-2" style="padding-right: 3px; padding-left: 4px; margin-top: 13px;">
                                <button class="btn btn-primary btn-icon mr-1" (click)="download(file.url)">
                                  <i class="mdi mdi-download-outline"></i>
                                </button>
                                <button class="btn btn-primary btn-icon" (click)="delete(file.url, file.key, i)">
                                  <i class="mdi mdi-trash-can-outline"></i>
                                </button>
                              </div>
                            </div>
                          </div>

                          <div class="form-group mt-3">
                            <button *ngIf="!updating" type="submit" class="btn btn-primary btn-lg mr-2 mt-3" (click)="save()">Save Changes</button>
                            <button *ngIf="updating" class="btn btn-primary btn-lg mr-2" type="button" disabled>
                              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                              <span class="sr-only">Please wait...</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.Attachments -->

                    <div class="card" *ngFor="let section of allFormSections">
                      <div class="card-header" [id]="'header_' + section.id">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            [attr.data-target]="'#section_' + section.id" aria-expanded="false"
                            [attr.aria-controls]="'section_' + section.id" style="text-align: left; padding-left: 1rem;
                            padding-right: 1rem; font-size: 0.775rem;">
                            {{ section.heading }}
                          </button>
                        </h2>
                      </div>
                      <div [id]="'section_' + section.id" class="collapse"
                        [attr.aria-labelledby]="'header_' + section.id"
                        data-parent="#accordionExample">
                        <div class="card-body">
                          <div class="form-group" id="form-fields" *ngFor="let item of section.form_fields">
                            <div *ngIf="item.type == 'text'">
                              <label><strong>{{ item.label }}</strong></label>
                              <input type="{{ item.type }}" id="{{ item.name }}" name="{{ item.name }}" class="form-control">
                            </div>

                            <div *ngIf="item.type == 'textarea'">
                              <label><strong>{{ item.label }}</strong></label>
                              <textarea id="{{ item.name }}" name="{{ item.name }}" class="form-control"></textarea>
                            </div>

                            <div *ngIf="item.type == 'radio-group'">
                              <label><strong>{{ item.label }}</strong></label>
                              <div style="width: 100%; float: left;" *ngFor="let radio of item.values">
                                <input style="width: 6%; float: left; margin-right: 10px;" type="radio" id="{{ item.name }}" name="{{ item.name }}" class="form-control">
                                <p style="width: 80%; padding-top: 13px;">{{ radio.label }}</p>
                              </div>
                            </div>

                            <div *ngIf="item.type == 'checkbox-group'">
                              <label><strong>{{ item.label }}</strong></label>
                              <div style="width: 100%; float: left;" *ngFor="let checkbox of item.values">
                                <input style="width: 6%; float: left; margin-right: 10px;" type="checkbox" id="{{ item.name }}" name="{{ item.name }}" class="form-control">
                                <p style="width: 80%; padding-top: 13px;">{{ checkbox.label }}</p>
                              </div>
                            </div>

                            <div *ngIf="item.type == 'date'">
                              <label><strong>{{ item.label }}</strong></label>
                              <input type="{{ item.type }}" id="{{ item.name }}" name="{{ item.name }}" class="form-control">
                            </div>

                            <div *ngIf="item.type == 'file'">
                              <label><strong>{{ item.label }}</strong></label>
                              <input multiple type="{{ item.type }}" id="{{ item.name }}" name="{{ item.name }}" class="form-control">
                            </div>

                            <div *ngIf="item.type == 'header'">
                              <h4>{{ item.label }}</h4>
                            </div>

                            <div *ngIf="item.type == 'paragraph'">
                              <p>{{ item.label }}</p>
                            </div>
                          </div>

                          <div class="form-group mt-3">
                            <button *ngIf="!updating" type="submit" class="btn btn-primary btn-lg mr-2 mt-3" (click)="save()">Save Changes</button>
                            <button *ngIf="updating" class="btn btn-primary btn-lg mr-2" type="button" disabled>
                              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                              <span class="sr-only">Please wait...</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <app-footer-bar></app-footer-bar>
      <!-- partial -->
    </div>
  </div>
</div>


<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Confirm Action</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to <span class="text-primary">discard all the changes you've made</span> ?</strong>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.dismiss('no')">No</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('yes')">Yes</button>
  </div>
</ng-template>

<ng-template #viewImgAttachment let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Attachment File</h5>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img [src]="imgUrl" style="width: 100%;">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('no')">Close</button>
  </div>
</ng-template>

<ng-template #viewDocAttachment let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Attachment File</h5>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>This is a document and cannot be viewed. Please download</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('no')">Close</button>
    <button type="button" class="btn btn-primary" (click)="downloadDoc(documentUrl)">Download</button>
  </div>
</ng-template>

<ng-template #deleteAttachment let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Delete Attachment</h5>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">this attachment</span> ?</strong></p>
    <p>Deleting this attachment will be permanently action.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('yes')">Yes</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('no')">No</button>
  </div>
</ng-template>

<ng-template #setPin let-modal>
  <form [formGroup]="pinForm" (ngSubmit)="createPin()">
    <div class="modal-header">
      <h5 class="modal-title text-uppercase font-weight-bold">Setup A New PIN</h5>
    </div>
    <div class="modal-body">
      <div class="form-group pin-form-group">
        <input type="tel" class="form-control form-control-lg pin-control" formControlName="pin" placeholder="----"
          [ngClass]="{'input-control-error': submitted && f.pin.errors}" maxlength="4"
          (keyup)="resolveStrCharacters($event)">
        <div *ngIf="submitted && f.pin.errors">
          <p class="input-error" *ngIf="f.pin.errors.required">PIN is required</p>
          <p class="input-error" *ngIf="f.pin.errors.minlength">PIN must be 4 (four) digits.</p>
        </div>
      </div>
    </div>
    <div class="modal-footer text-center" style="display: block;">
      <button *ngIf="!isLoading" type="button" class="btn btn-light" (click)="exit()">Close</button>
      <button *ngIf="!isLoading" type="submit" class="btn btn-primary">Create PIN</button>
      <button *ngIf="isLoading" type="button" class="btn btn-block btn-primary font-weight-medium" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> &nbsp; &nbsp;
        Please wait...
      </button>
    </div>
  </form>
</ng-template>

<ng-template #pin let-modal>
  <form>
    <div class="modal-header">
      <h6 class="modal-title text-uppercase font-weight-bold">Enter PIN To Submit Form</h6>
    </div>
    <div class="modal-body">
      <div class="form-group pin-form-group">
        <input type="tel" class="form-control form-control-lg pin-control" name="pinCode" [(ngModel)]="pinCode"
          placeholder="----" maxlength="4" (keyup)="resolveStrCharacters_1($event)" autofocus>
        <div>
          <p class="input-error" *ngIf="pinRequired">PIN is required</p>
          <p class="input-error" *ngIf="pinMinimum">PIN must be 4 (four) digits.</p>
        </div>
      </div>
    </div>
    <div class="modal-footer text-center" style="display: block;">
      <button *ngIf="!isLoading" type="button" class="btn btn-light" (click)="exit()">Close</button>
      <button *ngIf="!isLoading" type="submit" class="btn btn-primary" (click)="verifyPin()">Submit</button>
      <button *ngIf="isLoading" type="button" class="btn btn-block btn-primary font-weight-medium" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> &nbsp; &nbsp;
        Please wait...
      </button>
    </div>
  </form>
</ng-template>