<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Select Branch</h2>
                  <p class="mb-md-0">Your administrative dashboard.</p>
                </div>
                <div class="d-flex">
                  <i class="mdi mdi-home text-muted hover-cursor"></i>
                  <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Home&nbsp;/&nbsp;</p>
                  <p class="text-primary mb-0 hover-cursor">Analytics</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card hover-cursor animated slideInDown fast" (click)="openForm()">
              <div class="card-body">
                <p class="card-title">Branch 001</p>
                <div class="card-text">
                  <p class="text-muted">Click to see available forms.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card hover-cursor animated slideInDown slow">
              <div class="card-body">
                <p class="card-title">Branch 002</p>
                <div class="card-text">
                  <p class="text-muted">Click to see available forms.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card hover-cursor animated slideInDown slower">
              <div class="card-body">
                <p class="card-title">Branch 003</p>
                <div class="card-text">
                  <p class="text-muted">Click to see available forms.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="card text-center">
              <div class="card-body">
                <p class="card-title">Offline</p>
                <p class="text-muted"></p>
                <div class="card-text">
                  <i class="mdi mdi-wifi-off" style="font-size: 12em;"></i>
                  <h2>No Internet Connection</h2>
                  <p class="text-muted">You don't have an active internet connection</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content -->
      <!-- footer -->
      <app-footer-bar></app-footer-bar>
      <!-- partial -->
    </div>
    <!-- main ends -->
  </div>
</div>
