<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Welcome back, {{ firstName }}</h2>
                  <p class="mb-md-0">Your analytics dashboard template.</p>
                </div>
                <div class="d-flex">
                  <!-- <i class="mdi mdi-home text-muted hover-cursor"></i>
                  <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Home&nbsp;/&nbsp;</p>
                  <p class="text-primary mb-0 hover-cursor">Admin</p> -->
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                <!-- <button type="button" class="btn btn-light bg-white btn-icon mr-3 d-none d-md-block ">
                  <i class="mdi mdi-download text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                  <i class="mdi mdi-clock-outline text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                  <i class="mdi mdi-plus text-muted"></i>
                </button> -->
                <a class="btn btn-primary mt-2 mt-xl-0" routerLink="/admin/create/form">Create A Form</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="openForms()">
              <div class="card-body">
                <p class="card-title">Total No. Forms</p>
                <div class="card-text">
                  <h1 style="font-size: 5em;">{{ numTotalForms }}</h1>
                  <p class="text-muted">A list of all forms you've filled</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="openForms()">
              <div class="card-body">
                <p class="card-title">Total No. Branches</p>
                <div class="card-text">
                  <h1 style="font-size: 5em;">{{ numTotalBranches }}</h1>
                  <p class="text-muted">A list of all forms you've filled</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="openForms()">
              <div class="card-body">
                <p class="card-title">Total No. Accounts</p>
                <div class="card-text">
                  <h1 style="font-size: 5em;">{{ numTotalAccounts }}</h1>
                  <p class="text-muted">A list of all forms you've filled</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content ends -->
      <!--footer -->
      <app-footer-bar></app-footer-bar>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
</div>
