<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Form In Processing</h2>
                  <p class="mb-md-0">Your analytics dashboard template.</p>
                </div>
                <div class="d-flex">
                  <i class="mdi mdi-home text-muted hover-cursor"></i>
                  <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Home&nbsp;/&nbsp;</p>
                  <p class="text-primary mb-0 hover-cursor">Form In-Processing</p>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 d-none d-md-block ">
                  <i class="mdi mdi-download text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                  <i class="mdi mdi-clock-outline text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                  <i class="mdi mdi-plus text-muted"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Submitted Forms</h4>
                <p class="card-description">
                  List of all new forms that have been submitted for processing
                </p>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Full Name</th>
                        <th>Form Identifier.</th>
                        <th>Created On</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Jacob Martin Jay</td>
                        <td>53275531981</td>
                        <td>12 May 2017</td>
                      </tr>
                      <tr>
                        <td>Messsy W. Johnson</td>
                        <td>53275532</td>
                        <td>15 May 2017</td>
                      </tr>
                      <tr>
                        <td>John M Doe</td>
                        <td>53275533</td>
                        <td>14 May 2017</td>
                      </tr>
                      <tr>
                        <td>Peter Ore Finn</td>
                        <td>53275534</td>
                        <td>16 May 2017</td>
                      </tr>
                      <tr>
                        <td>Dave Quinn</td>
                        <td>53275535</td>
                        <td>20 May 2017</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>