<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>All Form Sections</h2>
                  <p class="mb-md-0">Your administrative dashboard.</p>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0" (click)="openNew()">
                  <i class="mdi mdi-plus text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0" (click)="toggleViewMode('list')">
                  <i class="mdi mdi-view-list text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0" (click)="toggleViewMode('grid')">
                  <i class="mdi mdi-view-grid text-muted"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="loading" class="row m-5">
          <div class="col-md-12 m-5">
            <div class="d-flex justify-content-center">
              <div class="spinner-border m-5" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!loading && hasNoData" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">No Data Found</h4>
                <p class="card-description">
                  No section found.
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-file-question" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>No Available Sections</h3>
                    <p class="text-muted">There are no created sections yet!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasError" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">Error Ocuured</h4>
                <p class="card-description">
                  Ooops! Something went wrong!
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-close-network-outline" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>We couldn't get your forms</h3>
                    <p class="text-muted">You may not have internet connection or our servers maybe down.</p>
                    <button class="btn btn-primary" type="button" (click)="retry()">Retry</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!loading && !hasNoData" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="text-lg-center mt-3 mb-5">
                  <div class="btn-group" role="group" aria-label="Sort By">
                    <div class="dropdown">
                      <button type="button" class="btn btn-outline-secondary dropdown-toggle" id="sortMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By</button>
                      <div class="dropdown-menu" aria-labelledby="sortMenuButton">
                        <button type="button" class="dropdown-item" (click)="sort('heading')">Heading</button>
                        <button type="button" class="dropdown-item" (click)="sort('created')">Date Created</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="viewMode == 'grid'" class="row">
                  <div class="col-md-4 grid-margin stretch-card" *ngFor="let form of sectionsList; let i = index">
                    <div class="card hover-cursor animated fadeInDown fast" (click)="view(form)">
                      <div class="card-body">
                        <p class="card-title">{{ form.heading }}</p>
                        <div class="card-text">
                          <h1 class="display-4 mb-4">{{ form.heading }}</h1>
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-secondary" (click)="edit(form)">
                              <i class="mdi mdi-pencil-outline"></i>
                              Edit
                            </button>
                            <button type="button" class="btn btn-outline-secondary" (click)="view(form)">
                              <i class="mdi mdi-pulse"></i>
                              View
                            </button>
                            <button type="button" class="btn btn-outline-secondary" (click)="delete(form.id, i)">
                              <i class="mdi mdi-delete-outline"></i>
                              Delete
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="viewMode == 'list'" class="row">
                  <div class="list-group" style="width: 100%;">
                    <div class="list-group-item hover-cursor list-group-item-action animated fadeInDown"
                       *ngFor="let form of sectionsList">
                      <div class="row">
                        <div class="col-8">
                          <span class="card-title mt-2">{{ form.heading }}</span>
                          <h1 class="display-4 mb-1 mt-2">{{ form.heading }}</h1>
                        </div>
                        <div class="col-4">
                          <div class="btn-group mt-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-secondary" (click)="edit(form)">
                              <i class="mdi mdi-pencil-outline"></i>
                              Edit
                            </button>
                            <button type="button" class="btn btn-outline-secondary" (click)="view(form)">
                              <i class="mdi mdi-pulse"></i>
                              View
                            </button>
                            <button type="button" class="btn btn-outline-secondary" (click)="delete(form.id)">
                              <i class="mdi mdi-delete-outline"></i>
                              Delete
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="hasMore" class="row">
                    <div class="col-md-4 col-sm-6 offset-sm-3 offset-lg-4">
                      <div class="text-center">
                        <button type="button" class="btn btn-secondary btn-rounded btn-fw">Load More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Delete Form Section ?</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">this section</span> ?</strong></p>
    <p>All information associated with this section will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('delete')">Delete</button>
  </div>
</ng-template>