<div *ngIf="loading" class="row m-md-5 text-center">
  <div class="col-md-12 col-sm-12 m-md-5">
    <div class="d-flex justify-content-center">
      <div class="spinner-border m-5" style="width: 2rem; height: 2rem; color: #11498e" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <p><strong>Preparing for printing! Please wait ...</strong></p>
  </div>
</div>

<div *ngIf="!loading" class="toolbar">
  <button id="print-button" class="btn btn-primary" (click)="print()">Print</button>
</div>

<div class="container">
  <!-- Little trick to center the inputs to the viewer -->
  <div class="form-container">
    <form id="input-form" [formGroup]="myForm" novalidate>

      <!-- Cycle through all the inputs -->
      <div *ngFor="let input of inputList">

        <!-- Insert an input accordingly and get the style/position from the component -->
        <input
          [type]="input.type"
          [name]="input.name"
          [value]="input.value"
          [checked]="input.checked"
          [formControlName]="input.name"
          [ngStyle]="getInputPosition(input)">
      </div>
    </form>
  </div>

  <!-- Pdf Viewer -->
  <pdf-viewer
    id="viewer"
    [src]="pdfSrc"
    (error)="onError($event)"
    (on-progress)="onProgress($event)"
    (after-load-complete)="pdfFileLoadComplete($event)">
  </pdf-viewer>

  <div *ngIf="hasSignature" class="signature">
    <img [src]="signatureImageUrl" alt="signature">
  </div>
</div>
