<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>My History</h2>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="loading" class="row m-5">
          <div class="col-md-12 p-md-5">
            <div class="d-flex justify-content-center">
              <div class="spinner-border m-5" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!hasData && !loading" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">No Data Found</h4>
                <p class="card-description">
                  No data has been found.
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-rocket" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>No Available Form History</h3>
                    <p class="text-muted">You havent filled any forms yet! All the forms you filled will be displayed here to make it easy to re-fill again.</p>
                  </div>
                  <div class="card-text mt-5">
                    <button class="btn btn-primary" type="button" (click)="pickForm()">Pick A Form</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasError && !hasData" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">Error Ocuured</h4>
                <p class="card-description">
                  Ooops! Something went wrong!
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-close-network-outline" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>We couldn't filled forms</h3>
                    <p class="text-muted">You may not have internet connection or our servers maybe down.</p>
                    <button class="btn btn-primary" type="button" (click)="retry()">Retry</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div *ngIf="!loading && hasData" class="row">
          <div class="col-12 text-center mb-3">
            <div class="btn-group" role="group" aria-label="Filter By">
              <button type="button" class="btn btn-outline-primary" [ngClass]="{'active': filterState == 'all'}" (click)="showAll()">All</button>
              <button type="button" class="btn btn-outline-primary" [ngClass]="{'active': filterState == 'processed'}" (click)="showProcessed()">Processed</button>
              <button type="button" class="btn btn-outline-primary" [ngClass]="{'active': filterState == 'processing'}" (click)="showProcessing()">Processing</button>
              <button type="button" class="btn btn-outline-primary" [ngClass]="{'active': filterState == 'rejected'}" (click)="showRejected()">Rejected</button>
            </div>
          </div>

          <div class="col-12 col-md-8 offset-md-2 mb-3">
            <div class="search-bar">
              <form>
                <input type="text" class="search-form form-control" name="query" [(ngModel)]="query"
                  placeholder="Search by form code, form name or merchant name" aria-label="search"
                  aria-describedby="search" (keydown)="search($event)">
              </form>
            </div>
          </div>

          <div class="col-md-4 grid-margin stretch-card" *ngFor="let form of historyCollection; let i=index">
            <div class="card hover-cursor" (click)="openFormEntry(form)">
              <div class="card-body">
                <p class="card-title mr-3">{{ form.form_name }}</p>
                <div class="align-right">
                  <button type="button" class="btn btn-sm" (click)="delete($event, form.submission_code, i)">
                    <i class="mdi mdi-delete-outline text-danger"></i>
                  </button>
                </div>
                <h1 class="display-4">{{ form.submission_code }}</h1>
                <div class="card-text">
                  <p class="text-muted small-text">{{ form.submitted_at | date }}</p>
                </div>
                <div class="card-icon" *ngIf="form.form_status == 3" (click)="openReview($event, form.submission_code)">
                  <i class="mdi mdi-message-alert-outline"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="foundNoForm && !loading" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">No Search Result</h4>
                <p class="card-description">
                  No form found based on your search criteria
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-search-web" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>No Forms Found</h3>
                    <p class="text-muted">
                      No form found based on your search criteria.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="loadingMore" class="row m-md-2">
          <div class="col-md-12 col-sm-12 m-md-2">
            <div class="d-flex justify-content-center">
              <div class="spinner-border m-2" style="width: 2rem; height: 2rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasMoreError" class="row m-md-2">
          <div class="col-md-8 col-sm-12 offset-md-2">
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">Connection Failed!</h4>
              <p>
                Oops!! Couldn't get you the rest of the data. Please make sure you have an active internet connection.
                Maybe, our servers may be down.
              </p>
              <hr>
              <p class="mb-0">We are really sorry for this inconvenience. Please click on the load more button again.</p>
            </div>
          </div>
        </div>

        <div *ngIf="hasMore" class="row">
          <div class="col-md-4 col-sm-6 offset-sm-3 offset-lg-4">
            <div class="text-center">
              <button type="button" class="btn btn-primary btn-rounded btn-fw" (click)="loadMore()">Load More</button>
            </div>
          </div>
        </div>
      </div>
      <!-- content -->
      <!-- footer -->
      <app-footer-bar></app-footer-bar>
      <!-- partial -->
    </div>
    <!-- main-panel -->
  </div>
</div>

<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Delete</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">this item</span> ?</strong></p>
    <p>All information associated with this item will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close()">No</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('yes')">Yes</button>
  </div>
</ng-template>

<ng-template #review let-modal>
  <div class="modal-header">
    <h4 class="modal-title reject-title" id="modal-title">Rejection Note</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center" *ngIf="loadingReview">
      <div class="d-flex justify-content-center">
        <div class="spinner-border m-5" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div class="msg-container" *ngIf="!loadingReview">
      <div class="message-content">
        <p class="message">{{ rejectionNote }}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('yes')">Ok, Got It</button>
  </div>
</ng-template>