@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 825px) {
    .grid-margin {
        margin-bottom: .45rem;
    }
}

.small-text {
    font-size: 0.775rem;
    font-weight: bold;
}