<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-center d-block d-sm-inline-block">
      Copyright © {{ year }}
      <a href="https://thegitlab.com/" target="_blank">theGiTLab</a>.
      All rights reserved.
      &nbsp;
      &nbsp;
      &nbsp;
      <a class="text-small" href="https://forms369.com/terms" target="_blank">Terms & Conditions</a>
      |
      <a class="text-small" href="https://forms369.com/privacy" target="_blank">Privacy Policy</a>
    </span>
  </div>
</footer>