<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Account Details</h2>
                  <p class="mb-md-0">Your administrative dashboard.</p>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!loading" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="card-text">
                  <div class="container">
                    <div class="row text-center">
                      <div class="col-6 col-md-6 offset-3 offset-md-3">
                        <h3><strong>{{ user.merchant_name }}</strong></h3>
                        <h3 class="display-3 mt-3 mb-3">{{ accountType }}</h3>
                        <!-- <button *ngIf="!_loading" class="btn mr-2"
                          [ngClass]="{'btn-success': isActive, 'btn-danger': !isActive}" (click)="accountActivation()">
                          Active
                        </button>
                        <button *ngIf="!_loading" class="btn mr-2"
                          [ngClass]="{'btn-success': isActive, 'btn-danger': !isActive}" (click)="accountActivation()">
                          Active
                        </button> -->
                        <button *ngIf="_loading" class="btn btn-primary" type="button" disabled>
                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          Loading...
                        </button>
                        <button class="btn btn-outline-secondary btn-icon-text" (click)="edit(user.id)">
                          <i class="mdi mdi-pencil-outline"></i>
                          Edit
                        </button>
                      </div>
                    </div>
                    <div class="row account-details ml-5 mt-2">
                      <div class="col-12">
                        <div class="accordion mt-3" id="accordionExample">
                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h2 class="mb-0">
                                <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne"
                                  aria-expanded="true" aria-controls="collapseOne">
                                  User Account Details - {{ user.full_name }}
                                </button>
                              </h2>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                              data-parent="#accordionExample">
                              <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table table-hover">
                                    <tbody>
                                      <tr class="hover-cursor">
                                        <td><strong>First Name</strong></td>
                                        <td>{{ user.firstname }}</td>
                                      </tr>
                                      <tr class="hover-cursor">
                                        <td><strong>Last Name</strong></td>
                                        <td>{{ user.lastname }}</td>
                                      </tr>
                                      <tr class="hover-cursor">
                                        <td><strong>Username</strong></td>
                                        <td>{{ user.username }}</td>
                                      </tr>
                                      <tr class="hover-cursor">
                                        <td><strong>Email Address</strong></td>
                                        <td>{{ user.email }}</td>
                                      </tr>
                                      <tr class="hover-cursor">
                                        <td><strong>Phone Number</strong></td>
                                        <td>{{ user.phone }}</td>
                                      </tr>
                                      <tr class="hover-cursor">
                                        <td><strong>Country</strong></td>
                                        <td>{{ user.country }}</td>
                                      </tr>
                                      <tr class="hover-cursor">
                                        <td><strong>Status</strong></td>
                                        <td *ngIf="user.status == 1">Active</td>
                                        <td *ngIf="user.status == 0">In Active</td>
                                      </tr>
                                      <tr class="hover-cursor">
                                        <td><strong>User Type</strong></td>
                                        <td>{{ accountType }}</td>
                                      </tr>
                                      <tr class="hover-cursor">
                                        <td><strong>Last Login on</strong></td>
                                        <td>{{ user.last_login_at | date:'medium' }}</td>
                                      </tr>
                                      <tr class="hover-cursor">
                                        <td><strong>Created On</strong></td>
                                        <td>{{ user.created_at | date }}</td>
                                      </tr>
                                      <tr class="hover-cursor">
                                        <td><strong>Updated On</strong></td>
                                        <td>{{ user.updated_at | date }}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
