<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Welcome back, {{ firstname }}</h2>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                <a role="button" class="btn btn-primary mt-2 mt-xl-0" routerLink="/client/form_merchant">Pick A Form</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="openFormsFilled()">
              <div class="card-body">
                <p class="card-title">My History</p>
                <p class="text-muted">A list of all forms you've filled</p>
                <div class="card-text">
                  <i class="mdi mdi-arrange-bring-to-front" style="font-size: 8em;"></i>
                  <p class="text-muted">Quickly fill forms you've filled before in the past with ease and speed.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="openFormsData()">
              <div class="card-body">
                <p class="card-title">My Profile</p>
                <p class="text-muted">All your forms data</p>
                <div class="card-text">
                  <i class="mdi mdi-account-outline" style="font-size: 8em;"></i>
                  <p class="text-muted">Access all the information you've provided through form filling using this application.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content ends -->
      <!-- footer -->
      <app-footer-bar></app-footer-bar>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
</div>
