@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 825px) {
    .card.hover-cursor .card-text > i {
        color: #11498e;
    }

    .card .card-text > h1 {
        color: #11498e;
    }

    .pin-control {
        font-size: 22px !important;
        padding: 8px 10px !important;
        font-family: 'OpenSans_Bold';
        text-align: center !important;
        letter-spacing: 15px !important;
    }

    .card-body.attachments-card {
        padding-left: 2px;
        padding-right: 2px;
    }
}

.pin-control {
    font-size: 35px;
    text-align: center;
    padding: 20px 20px;
    letter-spacing: 14px;
}

.pin-form-group {
    width: 50%;
    margin: 0 auto;
}

.pin-control::placeholder {
    color: #bbb;
}