<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap mobile-view">
              <div class="d-flex align-items-end flex-wrap mobile-view">
                <div class="mr-md-3 mr-xl-5">
                  <h2 class="page-title">Welcome back, {{ firstname }}</h2>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap mobile-view">
                <a role="button" class="btn btn-primary mt-2 mt-xl-0" routerLink="/client/form_merchant">Pick A Form</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="openFormsFilled()">
              <div class="card-body">
                <p class="card-title">History</p>
                <p class="text-muted">All submitted forms</p>
                <div class="card-text">
                  <i class="mdi mdi-arrange-bring-to-front" style="font-size: 8em;"></i>
                  <p class="text-muted">A list of all submitted forms.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="openFavoriteForms()">
              <div class="card-body">
                <p class="card-title">Favorites</p>
                <p class="text-muted">Most submitted forms</p>
                <div class="card-text">
                  <i class="mdi mdi-star-outline" style="font-size: 8em;"></i>
                  <p class="text-muted">A list of all the most submitted forms.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="openDraftForms()">
              <div class="card-body">
                <p class="card-title">Drafts</p>
                <p class="text-muted">Saved forms</p>
                <div class="card-text">
                  <i class="mdi mdi-file-outline" style="font-size: 8em;"></i>
                  <p class="text-muted">A list of all your saved forms.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="openFormsData()">
              <div class="card-body">
                <p class="card-title">Profile</p>
                <p class="text-muted">All your personal information</p>
                <div class="card-text">
                  <i class="mdi mdi-account-outline" style="font-size: 8em;"></i>
                  <p class="text-muted">Keep an up-to-date personal profile.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- analytics -->
        <div class="row">
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary">
              <div class="card-body">
                <p class="card-title">Total Submitted Forms</p>
                <div class="card-text">
                  <h1 style="font-size: 4em;">{{ totalNoSubmitted }}</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary">
              <div class="card-body">
                <p class="card-title">Total Processed Forms</p>
                <div class="card-text">
                  <h1 style="font-size: 4em;">{{ totalNoProcessed }}</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary">
              <div class="card-body">
                <p class="card-title">Total In-Process Forms</p>
                <div class="card-text">
                  <h1 style="font-size: 4em;">{{ totalNoProcessing }}</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary">
              <div class="card-body">
                <p class="card-title">Total Rejected Forms</p>
                <div class="card-text">
                  <h1 style="font-size: 4em;">{{ totalNoRejected }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary">
              <div class="card-body">
                <p class="card-title">Total Forms In Drafts</p>
                <div class="card-text">
                  <h1 style="font-size: 4em;">{{ totalNoDrafts }}</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary">
              <div class="card-body">
                <p class="card-title">Total Reversed Forms</p>
                <div class="card-text">
                  <h1 style="font-size: 4em;">{{ totalNoReversed }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.analytics -->
      </div>
      <!-- content ends -->
      <!-- footer -->
      <app-footer-bar></app-footer-bar>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
</div>


<ng-template #setPin let-modal="pinForm">
  <form [formGroup]="pinForm" (ngSubmit)="createPin()">
    <div class="modal-header">
      <h5 class="modal-title text-uppercase font-weight-bold">Setup A New PIN</h5>
    </div>
    <div class="modal-body">
      <div class="form-group pin-form-group">
        <input type="tel" class="form-control form-control-lg pin-control" formControlName="pin" placeholder="----"
          [ngClass]="{'input-control-error': submitted && f.pin.errors}" maxlength="4"
          (keyup)="resolveStrCharacters($event)">
        <div *ngIf="submitted && f.pin.errors">
          <p class="input-error" *ngIf="f.pin.errors.required">PIN is required</p>
          <p class="input-error" *ngIf="f.pin.errors.minlength">PIN must be 4 (four) digits.</p>
        </div>
      </div>
    </div>
    <div class="modal-footer text-center" style="display: block;">
      <button *ngIf="!isLoading" type="submit" class="btn btn-primary">Create PIN</button>
      <button *ngIf="isLoading" type="button" class="btn btn-block btn-primary font-weight-medium" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> &nbsp; &nbsp;
        Please wait...
      </button>
    </div>
  </form>
</ng-template>