<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light py-5 px-4 px-sm-5">
            <div class="text-center">
                <a routerLink="/" class="brand-logo">
                  <img src="./assets/images/logo.png" alt="logo">
                </a>
            </div>
            <div *ngIf="invalid" class="mt-2 mb-5">
              <div class="alert alert-danger" role="alert">
                <h3 class="alert-heading">Hey there!</h3>
                <p class="lead"><strong>Your account has been deactivated</strong></p>
                <hr>
                <p class="mb-0 lead">Please contact your admin</p>
              </div>
            </div>

            <!-- account verification view -->
            <div>
              <h4 class="text-center">Hello! Reset your password</h4>
              <h6 class="font-weight-normal text-center">Please verify your account.</h6>
              <form [formGroup]="form" (ngSubmit)="create()" class="pt-3">
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" formControlName="email"
                    placeholder="Enter Email Address" [ngClass]="{'input-control-error': submitted && f.email.errors}">
                  <div *ngIf="submitted && f.email.errors">
                    <p class="input-error" *ngIf="f.email.errors.email">Must be a valid email address</p>
                    <p class="input-error" *ngIf="f.email.errors.required">Email address is required</p>
                  </div>
                </div>
                <div class="form-group row" style="margin-left: 0px;">
                  <input type="text" formControlName="dialCode" disabled class="form-control form-control-lg"
                    style="text-align: center; width: 20%; padding-left: 5px; padding-right: 5px;">
                  <!-- !!! DON'T REMOVE THIS !!! -->
                  <!-- <div class="form-control form-control-lg" style="text-align: center; width: 30%; padding-left: .54rem; padding-right: .54rem;">
                    <mat-select placeholder="Country Code" formControlName="dialCode" disabled>
                      <mat-select-trigger>
                        <span *ngIf="f.dialCode.value">
                          {{ f.dialCode.value }}
                        </span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let item of countryDialCodes" [value]="item.dial_code">
                        {{ item.name }} ({{ item.dial_code }})
                      </mat-option>
                    </mat-select>
                  </div> -->
                  <div style="width: 78%;">
                    <input type="text" class="form-control form-control-lg" formControlName="phone"
                      autocomplete="new-password" placeholder="24 123 1234" id="phone"
                      [ngClass]="{'input-control-error': submitted && f.phone.errors}">
                  </div>
                  <div *ngIf="submitted && f.phone.errors">
                    <p class="input-error" *ngIf="f.phone.errors.required">Phone Number is required</p>
                    <p class="input-error" *ngIf="f.phone.errors.maxlength">Phone Number cannot exceed 9 characters. Don't start with 0</p>
                  </div>
                </div>
                <div class="mt-3">
                  <button type="submit" *ngIf="!loading" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Verify</button>
                  <button type="button" *ngIf="loading" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> &nbsp; &nbsp;
                    Please wait...
                  </button>
                </div>
              </form>
            </div>
            <!-- /. end account verification view -->

            <!-- setup new password view -->
            <div>
              <h4 class="text-center">Hello! Setup password</h4>
              <h6 class="font-weight-normal text-center">Please setup a new password.</h6>
              <form [formGroup]="form" (ngSubmit)="create()" class="pt-3">
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" formControlName="email"
                    placeholder="Enter Email Address" [ngClass]="{'input-control-error': submitted && f.email.errors}">
                  <div *ngIf="submitted && f.email.errors">
                    <p class="input-error" *ngIf="f.email.errors.email">Must be a valid email address</p>
                    <p class="input-error" *ngIf="f.email.errors.required">Email address is required</p>
                  </div>
                </div>
                <div class="form-group row" style="margin-left: 0px;">
                  <input type="text" formControlName="dialCode" disabled class="form-control form-control-lg"
                    style="text-align: center; width: 20%; padding-left: 5px; padding-right: 5px;">
                  <!-- !!! DON'T REMOVE THIS !!! -->
                  <!-- <div class="form-control form-control-lg" style="text-align: center; width: 30%; padding-left: .54rem; padding-right: .54rem;">
                    <mat-select placeholder="Country Code" formControlName="dialCode" disabled>
                      <mat-select-trigger>
                        <span *ngIf="f.dialCode.value">
                          {{ f.dialCode.value }}
                        </span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let item of countryDialCodes" [value]="item.dial_code">
                        {{ item.name }} ({{ item.dial_code }})
                      </mat-option>
                    </mat-select>
                  </div> -->
                  <div style="width: 78%;">
                    <input type="text" class="form-control form-control-lg" formControlName="phone"
                      autocomplete="new-password" placeholder="24 123 1234" id="phone"
                      [ngClass]="{'input-control-error': submitted && f.phone.errors}">
                  </div>
                  <div *ngIf="submitted && f.phone.errors">
                    <p class="input-error" *ngIf="f.phone.errors.required">Phone Number is required</p>
                    <p class="input-error" *ngIf="f.phone.errors.maxlength">Phone Number cannot exceed 9 characters.
                      Don't start with 0</p>
                  </div>
                </div>
                <div class="mt-3">
                  <button type="submit" *ngIf="!loading"
                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Verify</button>
                  <button type="button" *ngIf="loading"
                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> &nbsp;
                    &nbsp;
                    Please wait...
                  </button>
                </div>
              </form>
            </div>
            <!-- /.end setup new password view -->
          </div>
        </div>
      </div>
    </div>
    <!-- content ends -->
  </div>
  <!-- page-body ends -->
</div>