<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light py-5 px-4 px-sm-5">
            <div class="text-center">
                <a routerLink="/" class="brand-logo">
                  <img src="./assets/images/logo1.png" alt="logo">
                </a>
            </div>

            <div *ngIf="isValid" class="mt-2 mb-5">
              <div class="alert alert-success" role="alert">
                <h3 class="alert-heading">Hey there!</h3>
                <p class="lead"><strong>We've sent you an email to help you reset your password.</strong></p>
                <hr>
                <p class="lead"><strong>Remember to check your SPAM if you can't find it.</strong></p>
              </div>
            </div>

            <div *ngIf="isInvalid" class="mt-2 mb-5">
              <div class="alert alert-danger" role="alert">
                <h3 class="alert-heading">Hey there!</h3>
                <p class="lead"><strong>Account not found.</strong></p>
                <hr>
                <p class="mb-0 lead">Please make sure you've provided your correct email address</p>
              </div>
            </div>

            <!-- account verification view -->
            <h4 class="text-center">Hello! Reset your password</h4>
            <h6 class="font-weight-normal text-center">Please verify your account.</h6>
            <form [formGroup]="form" (ngSubmit)="create()" class="pt-3">
              <div class="form-group">
                <input type="email" class="form-control form-control-lg" formControlName="email"
                  placeholder="Enter Email Address" [ngClass]="{'input-control-error': submitted && f.email.errors}">
                <div *ngIf="submitted && f.email.errors">
                  <p class="input-error" *ngIf="f.email.errors.email">Must be a valid email address</p>
                  <p class="input-error" *ngIf="f.email.errors.required">Email address is required</p>
                </div>
              </div>
              <div class="mt-3">
                <button type="submit" *ngIf="!loading" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Verify</button>
                <button type="button" *ngIf="loading" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> &nbsp; &nbsp;
                  Please wait...
                </button>
              </div>
              <div class="mt-3 text-center">
                <a routerLink="/login" class="auth-link text-black">Login instead</a>
              </div>
            </form>
            <!-- /. end account verification view -->
          </div>
        </div>
      </div>
    </div>
    <!-- content ends -->
  </div>
  <!-- page-body ends -->
</div>