<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Forms Rejected</h2>
                  <p class="mb-md-0">Your administrative dashboard.</p>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                <form [formGroup]="form" (ngSubmit)="filter()">
                  <div class="form-group form-inline" style="margin-bottom: -0.1rem;">
                    <div class="input-group">
                      <input class="form-control form-control-sm" placeholder="Select Start Date" name="dp"
                        formControlName="startDate" ngbDatepicker #d="ngbDatepicker" [ngClass]="{'input-control-error':
                        submitted && f.startDate.errors}">
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary" (click)="d.toggle()" type="button">
                          <i class="mdi mdi-calendar-outline"></i>
                        </button>
                      </div>
                    </div>
                    <div class="input-group">
                      <input class="form-control form-control-sm" placeholder="Select End Date" name="dp"
                        formControlName="endDate" ngbDatepicker #d1="ngbDatepicker" [ngClass]="{'input-control-error':
                        submitted && f.endDate.errors}">
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary" (click)="d1.toggle()" type="button">
                          <i class="mdi mdi-calendar-outline"></i>
                        </button>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary btn-sm ml-2">Filter</button>
                  </div>
                  <div class="form-group form-inline">
                    <div *ngIf="submitted && f.startDate.errors" style="width: 43%;">
                      <p class="input-error" *ngIf="f.startDate.errors.required">Start date is required</p>
                    </div>
                    <div *ngIf="submitted && f.endDate.errors">
                      <p class="input-error" *ngIf="f.endDate.errors.required">End date is required</p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="loading" class="row m-5">
          <div class="col-md-12 m-5">
            <div class="d-flex justify-content-center">
              <div class="spinner-border m-5" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!loading && !hasData" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">No Data Found</h4>
                <p class="card-description">
                  No forms found.
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-timer" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>No Rejected Forms</h3>
                    <p class="text-muted">There are no rejected forms yet!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasError" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">Error Occured</h4>
                <p class="card-description">
                  Ooops! Something went wrong!
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-close-network-outline" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>We couldn't get your forms</h3>
                    <p class="text-muted">You may not have internet connection or our servers maybe down.</p>
                    <button class="btn btn-primary" type="button" (click)="retry()">Retry</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!loading && hasData" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th><strong>Code.</strong></th>
                        <th><strong>Form Name</strong></th>
                        <th><strong>Submitted By</strong></th>
                        <th><strong>Submitted On</strong></th>
                        <th><strong>Actions</strong></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="hover-cursor" *ngFor="let form of rejectedFormsList; let i =index">
                        <td (click)="open($event, form)">{{ form.submission_code }}</td>
                        <td (click)="open($event, form)">{{ form.form_name }}</td>
                        <td (click)="open($event, form)">{{ form.client_name }}</td>
                        <td (click)="open($event, form)">{{ form.submitted_at | date }}</td>
                        <td>
                          <div class="d-flex align-items-end flex-wrap">
                            <button type="button" class="btn btn-light bg-white btn-icon mr-1"
                              (click)="completeForm($event, form, form.submission_code, i)" placement="top"
                              ngbTooltip="Complete Form">
                              <i class="mdi mdi-check-outline text-muted"></i>
                            </button>
                            <button type="button" class="btn btn-light bg-white btn-icon mr-1"
                              (click)="processForm($event, form, form.submission_code, i)" placement="top"
                              ngbTooltip="Processing Form">
                              <i class="mdi mdi-undo-variant text-muted"></i>
                            </button>
                            <button type="button" class="btn btn-light bg-white btn-icon mr-2"
                              (click)="showReviewDialog($event, form.submission_code)" placement="top" 
                              ngbTooltip="View Rejection Message">
                              <i class="mdi mdi-message-alert-outline text-muted"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="loadingMore" class="row m-md-2">
          <div class="col-md-12 col-sm-12 m-md-2">
            <div class="d-flex justify-content-center">
              <div class="spinner-border m-2" style="width: 2rem; height: 2rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasMoreError" class="row m-md-2">
          <div class="col-md-8 col-sm-12 offset-md-2">
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">Connection Failed!</h4>
              <p>
                Oops!! Couldn't get you the rest of the data. Please make sure you have an active internet connection.
                Maybe, our servers may be down.
              </p>
              <hr>
              <p class="mb-0">We are really sorry for this inconvenience. Please click on the load more button again.</p>
            </div>
          </div>
        </div>

        <div *ngIf="hasMore" class="row">
          <div class="col-md-4 col-sm-6 offset-sm-3 offset-lg-4">
            <div class="text-center">
              <button type="button" class="btn btn-primary btn-rounded btn-fw" (click)="loadMore()">Load More</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #loader let-modal>
  <div class="modal-body text-center">
    <div class="d-flex justify-content-center">
      <div class="spinner-border m-5" style="width: 5rem; height: 5rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <p><strong>Loading</strong></p>
  </div>
</ng-template>

<ng-template #complete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Complete Form ?</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to complete <span class="text-primary">this form</span> ?</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('complete')">Complete</button>
  </div>
</ng-template>

<ng-template #process let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Process Form ?</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to process <span class="text-primary">this form</span> ?</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('process')">Process</button>
  </div>
</ng-template>

<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Reject Form ?</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to reject <span class="text-primary">this form</span> ?</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('undo')">Reject</button>
  </div>
</ng-template>

<ng-template #response let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Success</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>{{ responseMessage }}</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.dismiss()">OK</button>
  </div>
</ng-template>

<ng-template #review let-modal>
  <div class="modal-header">
    <h4 class="modal-title reject-title" id="modal-title">Rejection Note</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center" *ngIf="loadingReview">
      <div class="d-flex justify-content-center">
        <div class="spinner-border m-5" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div class="msg-container" *ngIf="!loadingReview">
      <div class="message-content">
        <p class="message">{{ rejectionNote }}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('yes')">Ok, Got It</button>
  </div>
</ng-template>