<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Welcome back, Joe</h2>
                  <p class="mb-md-0">Your analytics dashboard template.</p>
                </div>
                <div class="d-flex">
                  <i class="mdi mdi-home text-muted hover-cursor"></i>
                  <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Home&nbsp;/&nbsp;</p>
                  <p class="text-primary mb-0 hover-cursor">Analytics</p>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 d-none d-md-block ">
                  <i class="mdi mdi-download text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                  <i class="mdi mdi-clock-outline text-muted"></i>
                </button>
                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                  <i class="mdi mdi-plus text-muted"></i>
                </button>
                <div class="dropdown">
                  <button class="btn btn-primary mt-2 mt-xl-0 dropdown-toggle" type="button" id="selectBranchMenu"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Branch
                  </button>
                  <div class="dropdown-menu" aria-labelledby="selectBranchMenu">
                    <a class="dropdown-item" href="#">Branch 001</a>
                    <a class="dropdown-item" href="#">Branch 001</a>
                    <a class="dropdown-item" href="#">Branch 001</a>
                    <a class="dropdown-item" href="#">Branch 001</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="openFormsInProcessing()">
              <div class="card-body">
                <p class="card-title">Available Forms</p>
                <h1 class="display-2">6</h1>
                <div class="card-text">
                  <i class="mdi mdi-file-outline" style="font-size: 8em;"></i>
                </div>
                <p class="text-muted">Total number of forms that have not been completely processed</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="openProcessedForms()">
              <div class="card-body">
                <p class="card-title">Processed Forms</p>
                <h1 class="display-2">382</h1>
                <div class="card-text">
                  <i class="mdi mdi-file-document-edit-outline" style="font-size: 8em;"></i>
                </div>
                <p class="text-muted">Total number of forms that have been processed</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="openFormsInProcessing()">
              <div class="card-body">
                <p class="card-title">Forms In Processing</p>
                <h1 class="display-2">70</h1>
                <div class="card-text">
                  <i class="mdi mdi-timer" style="font-size: 8em;"></i>
                </div>
                <p class="text-muted">Total number of forms that have not been completely processed</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 grid-margin stretch-card">
            <div class="card hover-cursor hover-primary" (click)="openSubmittedForms()">
              <div class="card-body">
                <p class="card-title">Sumitted Forms</p>
                <h1 class="display-2">161</h1>
                <div class="card-text">
                  <i class="mdi mdi-mailbox-open-outline" style="font-size: 8em;"></i>
                </div>
                <p class="text-muted">Total of forms that have been submitted</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- footer -->
      <app-footer-bar></app-footer-bar>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
</div>
