<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3">
      <div class="mt-2 mb-5">
        <div class="alert alert-success" role="alert">
          <h3 class="alert-heading">Hey there!</h3>
          <p class="lead"><strong>Email verified</strong></p>
          <hr>
          <p class="lead" style="font-size: 1rem; font-weight: 400; line-height: 1.5;">
            Your email address have been verified. Please click on the button below to reset your Forms369 password.
          </p>
          <a href="/reset" class="btn btn-primary btn-sm" style="width: 200px;">Reset Password</a>
        </div>
      </div>
    </div>
  </div>
</div>