.nav-tabs .nav-link {
    padding: 1rem 4.5em .7em 4.5em;
}

@media (max-width: 767px) {
    .nav-tabs .nav-link {
        padding: 1rem 1.6em .7em 1.6em;
    }
}

.dropdown .dropdown-menu .dropdown-item {
    font-size: .875rem;
    padding: 0.6rem 1.5rem;
}