<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <a routerLink="/" class="brand-logo">
              <img src="./assets/images/logo.png" alt="logo">
            </a>
            <div *ngIf="notConfirmed" class="mt-2 mb-5">
              <div class="alert alert-warning" role="alert">
                <h3 class="alert-heading">Hey there!</h3>
                <p class="lead"><strong>Your email address has not been confirmed</strong></p>
                <hr>
                <p class="lead">A confirmation email has been sent to your email address.</p>
                <p class="mb-0 lead">Please check your email and click the activation link in the email. Thank You!</p>
              </div>
            </div>

            <div *ngIf="deactivated" class="mt-2 mb-5">
              <div class="alert alert-danger" role="alert">
                <h3 class="alert-heading">Hey there!</h3>
                <p class="lead"><strong>Your account has been deactivated</strong></p>
                <hr>
                <p class="mb-0 lead">Please contact your admin</p>
              </div>
            </div>

            <h4>Hello! let's get started</h4>
            <h6 class="font-weight-light">Sign in to continue.</h6>
            <form [formGroup]="form" (ngSubmit)="login()" class="pt-3">
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" formControlName="username"
                  placeholder="Username" [ngClass]="{'input-control-error': submitted && f.username.errors}">
                <div *ngIf="submitted && f.username.errors">
                  <p class="input-error" *ngIf="f.username.errors.required">Username is required</p>
                </div>
              </div>
              <div *ngIf="userNotFound" class="mt-2">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>User Not Found!</strong> Mmm!, this email address doesnt have an account with us
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-lg" formControlName="password"
                  placeholder="Password" [ngClass]="{'input-control-error': submitted && f.password.errors}">
                <div *ngIf="submitted && f.password.errors">
                  <p class="input-error" *ngIf="f.password.errors.minlength">Password must be atleast 6 characters</p>
                  <p class="input-error" *ngIf="f.password.errors.required">Password is required</p>
                </div>
              </div>
              <div *ngIf="invalidPassword" class="mt-2">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>Invalid Password!</strong> Oh no, this isn't your password. Please check and try again.
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
              <div class="mt-3">
                <button type="submit" *ngIf="!loading" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN IN</button>
                <button type="button" *ngIf="loading" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> &nbsp; &nbsp;
                  Please wait...
                </button>
              </div>
              <div class="mt-3 text-center">
                <!-- <div class="form-check">
                  <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input">
                    Keep me signed in
                  </label>
                </div> -->
                <a routerLink="/forgot" class="auth-link text-black">Forgot password?</a>
              </div>
              <div class="text-center mt-4 font-weight-light">
                Don't have an account? <a routerLink="/register" class="text-primary">Create</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
