.auth .brand-logo img {
    width: 60px;
    margin-bottom: 10px;
}

p.lead {
    line-height: 1.8rem;
}

.auth form .auth-form-btn {
    height: 50px;
    line-height: 1.2;
}

.content-wrapper {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(5,5,5,0.2)), url('https://www.freevector.com/uploads/vector/preview/30349/Abstract_background_vector_1.jpg') !important;
}

.auth .auth-form-light {
    border-top-left-radius: 3.25em;
    border-bottom-right-radius: 3.25em;
}

* {
    font-family: 'OpenSans_Regular';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'OpenSans_Bold';
}