<form [formGroup]="form" (ngSubmit)="register()" class="pt-3">
  <div *ngIf="isAdmin" class="form-group">
    <select class="form-control" formControlName="userType"
      [ngClass]="{'input-control-error': submitted && f.userType.errors}" (change)="onUserSelect($event)">
      <option value="" disabled>Choose User Type</option>
      <option value="20">GIT Admin</option>
      <option value="21">Super Executive</option>
      <option value="22">Branch Super-Executive</option>
      <option value="23">Company Admin</option>
      <option value="24">Branch Admin</option>
      <option value="25">Front Desk</option>
    </select>
    <div *ngIf="submitted && f.userType.errors">
      <p class="input-error" *ngIf="f.userType.errors.required">User type is required</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="firstName" placeholder="First Name"
          [ngClass]="{'input-control-error': submitted && f.firstName.errors}">
        <div *ngIf="submitted && f.firstName.errors">
          <p class="input-error" *ngIf="f.firstName.errors.required">First name is required</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name"
          [ngClass]="{'input-control-error': submitted && f.lastName.errors}">
        <div *ngIf="submitted && f.lastName.errors">
          <p class="input-error" *ngIf="f.lastName.errors.required">Last name is required</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isFrontDesk && !isAdmin" class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="merchant" placeholder="Company Name"
          [matAutocomplete]="auto" [ngClass]="{'input-control-error': submitted && f.merchant.errors}">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="companySelected($event.option.value)">
          <mat-option *ngFor="let item of filteredMerchants | async" [value]="item">
            {{ item }}
          </mat-option>
        </mat-autocomplete>
        <div *ngIf="submitted && f.merchant.errors">
          <p class="input-error" *ngIf="f.merchant.errors.required">Company is required</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="branch" placeholder="Branch Name"
          [matAutocomplete]="auto_1" [ngClass]="{'input-control-error': submitted && f.branch.errors}">
        <mat-autocomplete #auto_1="matAutocomplete">
          <mat-option *ngFor="let item of filteredBranches | async" [value]="item">
            {{ item }}
          </mat-option>
        </mat-autocomplete>
        <div *ngIf="submitted && f.branch.errors">
          <p class="input-error" *ngIf="f.branch.errors.required">Branch is required</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="username" placeholder="Username"
      [ngClass]="{'input-control-error': submitted && f.username.errors}">
    <div *ngIf="submitted && f.username.errors">
      <p class="input-error" *ngIf="f.username.errors.required">Username is required</p>
    </div>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" formControlName="emailAddress" placeholder="Email Address"
      [ngClass]="{'input-control-error': submitted && f.emailAddress.errors}">
    <div *ngIf="submitted && f.emailAddress.errors">
      <p class="input-error" *ngIf="f.emailAddress.errors.email">Must be a valid email address</p>
      <p class="input-error" *ngIf="f.emailAddress.errors.required">Email address is required</p>
    </div>
  </div>
  <div class="form-group row" style="margin-left: 0px;">
    <input type="text" formControlName="dialCode" disabled class="form-control"
      style="text-align: center; width: 20%; padding-left: 5px; padding-right: 5px;">
    <!-- !!! DON'T REMOVE THIS !!! -->
    <!-- <div class="form-control form-control-lg" style="text-align: center; width: 30%; padding-left: .54rem; padding-right: .54rem;">
      <mat-select placeholder="Country Code" formControlName="dialCode" disabled>
        <mat-select-trigger>
          <span *ngIf="f.dialCode.value">
            {{ f.dialCode.value }}
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let item of countryDialCodes" [value]="item.dial_code">
          {{ item.name }} ({{ item.dial_code }})
        </mat-option>
      </mat-select>
    </div> -->
    <div style="width: 78%;">
      <input type="tel" class="form-control" formControlName="phone" autocomplete="new-password" (keypress)="resolveStrCharacters($event)"
        placeholder="Example: 24 123 1234" id="phone" [ngClass]="{'input-control-error': submitted && f.phone.errors}">
    </div>
    <div *ngIf="submitted && f.phone.errors">
      <p class="input-error" *ngIf="f.phone.errors.required">Phone number is required</p>
      <p class="input-error" *ngIf="f.phone.errors.minlength">Phone number cannot be less than 9 digits</p>
      <p class="input-error" *ngIf="f.phone.errors.maxlength">Phone number cannot exceed 9 characters. Don't start with 0</p>
    </div>
  </div>
  <div class="form-group">
    <select class="form-control" formControlName="country"
      [ngClass]="{'input-control-error': submitted && f.country.errors}" (change)="onCountrySelect($event)">
      <option value="" disabled>Country</option>
      <option *ngFor="let country of countriesList | orderBy: 'country.name.common'" [value]="country.name.common">
        {{ country.name.common }}
      </option>
    </select>
    <div *ngIf="submitted && f.country.errors">
      <p class="input-error" *ngIf="f.country.errors.required">Country is required</p>
    </div>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" formControlName="password" placeholder="Password"
      autocomplete="new-password" [ngClass]="{'input-control-error': submitted && f.password.errors}">
    <div *ngIf="submitted && f.password.errors">
      <p class="input-error" *ngIf="f.password.errors.minlength">Password must be atleast 6 characters</p>
      <p class="input-error" *ngIf="f.password.errors.required">Password is required</p>
    </div>
  </div>
  <div class="mt-3">
    <button type="submit" *ngIf="!loading" class="btn btn-primary btn-lg mr-2">SUBMIT</button>
    <button *ngIf="loading" class="btn btn-primary btn-lg mr-2" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp; &nbsp;
      Please wait
    </button>
    <button type="button" class="btn btn-light btn-lg" (click)="cancel()">CANCEL</button>
  </div>
</form>

<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Cancel ?</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('closed')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to cancel <span class="text-primary">the creation of this company</span> ?</strong>
    </p>
    <p>All information provided will be permanently lost.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('no')">No</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('yes')">Yes</button>
  </div>
</ng-template>