.card-logo {
    width: 218px;
    height: 160px;
    display: block;
    margin: 0 auto;
}

.search-form {
    border-radius: 30px;
    background: #fff;
}

.card-title {
    font-family: 'OpenSans_Bold';
}