<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2 class="page-title">Select {{ title }}</h2>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                <!-- <app-forms-country-picker (selectedCountry)="getSelectedCountry($event)"></app-forms-country-picker> -->
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="search-bar">
              <form>
                <input type="text" class="search-form form-control" name="query" [(ngModel)]="query"
                  placeholder="Search by form code, form name or merchant name" aria-label="search"
                  aria-describedby="search" (keydown)="search($event)">
              </form>
            </div>
          </div>
          <div id="sector-section" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <div class="form-group">
                <select class="form-control" [(ngModel)]="selectedSector" (change)="onSectorSelect($event)">
                  <option value="0">Select Sector / Category</option>
                  <option *ngFor="let sector of sectorList" [value]="sector.id">{{ sector.name }}</option>
                </select>
              </div>
          </div>
        </div>
        
        <div *ngIf="loading" class="row m-md-5">
          <div class="col-md-12 col-sm-12 m-md-5">
            <div class="d-flex justify-content-center">
              <div class="spinner-border m-5" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!hasData && !loading" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">No Data Found</h4>
                <p class="card-description">
                  No company found.
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-lighthouse" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>No Available Company</h3>
                    <p class="text-muted">There are no available companies yet!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="foundNoForm && !loading" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">No Search Result</h4>
                <p class="card-description">
                  No form found based on your search criteria
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-search-web" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>No Forms Found</h3>
                    <p class="text-muted">
                      No form found based on your search criteria.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!loading && hasError" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">Error Ocuured</h4>
                <p class="card-description">
                  Ooops! Something went wrong!
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-close-network-outline" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>We couldn't get the data you were looking for</h3>
                    <p class="text-muted">An error has occured on our servers or you might not have internet connection</p>
                    <button class="btn btn-primary" (click)="retry()">Retry</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!loading && hasData" class="row">
          <div class="col-md-4 grid-margin stretch-card" *ngFor="let company of companyList">
            <div class="card hover-cursor animated fadeInDown fast" (click)="open(company)">
              <div class="card-body text-center">
                <p class="card-title">{{ company.merchant_name }}</p>
                <div class="card-text">
                  <img [src]="company.logo" class="img-fluid card-logo mb-3" alt="logo">
                  <!-- <p class="text-muted">Click to see available forms.</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!loading && hasData" class="row" style="margin-top: 25px;">
          <div class="col-md-4 text-center grid-margin stretch-card" *ngFor="let form of formsList">
            <div class="card hover-cursor animated fadeInDown slow" (click)="openForm(form)">
              <div class="card-body" style="text-align: left;">
                <p class="card-title">{{ form.merchant_name }}</p>
                <div class="card-text">
                  <h1 class="display-4">{{ form.name }}</h1>
                  <!-- <p class="text-muted">Click to open form and start filling.</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="loadingMore" class="row m-md-2">
          <div class="col-md-12 col-sm-12 m-md-2">
            <div class="d-flex justify-content-center">
              <div class="spinner-border m-2" style="width: 2rem; height: 2rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasMoreError" class="row m-md-2">
          <div class="col-md-8 col-sm-12 offset-md-2">
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">Connection Failed!</h4>
              <p>
                Oops!! Couldn't get you the rest of the data. Please make sure you have an active internet connection.
                Maybe, our servers may be down.
              </p>
              <hr>
              <p class="mb-0">We are really sorry for this inconvenience. Please click on the load more button again.
              </p>
            </div>
          </div>
        </div>

        <div *ngIf="hasMore" class="row">
          <div class="col-md-4 col-sm-6 offset-sm-3 offset-lg-4">
            <div class="text-center">
              <button type="button" class="btn btn-primary btn-rounded btn-fw" (click)="loadMore()">Load More</button>
            </div>
          </div>
        </div>
        
      </div>
      <!-- content -->
      <!-- footer -->
      <app-footer-bar></app-footer-bar>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
</div>
