.pin-control {
    font-size: 35px;
    text-align: center;
    padding: 20px 20px;
    letter-spacing: 14px;
}

.pin-form-group {
    width: 50%;
    margin: 0 auto;
}

.pin-control::placeholder {
    color: #bbb;
}

.input-error {
    font-family: 'OpenSans_SemiBold';
}