<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <a href="/" class="brand-logo">
              <img src="../assets/images/logo.png" alt="logo">
            </a>
            <div *ngIf="created" class="mt-2 mb-5">
              <div class="alert alert-success" role="alert">
                <h3 class="alert-heading">Welcome to GiT Forms!</h3>
                <p class="lead">Hi {{ f.firstName.value }}, your account has been sucessfully created.</p>
                <hr>
                <p class="mb-0 lead">Please click the login button below to login into your account!</p>
              </div>
              <a role="button" href="/user_auth" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Log In</a>
            </div>

            <div *ngIf="dynamicError" class="mt-2 mb-5">
              <div class="alert alert-danger alert-dismissible fade show" role=" alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="alert-heading">Hey there!</h3>
                <p class="lead"><strong>{{ error }}</strong></p>
              </div>
            </div>

            <h4 *ngIf="!created">New here?</h4>
            <h6 *ngIf="!created" class="font-weight-normal">Signing up is easy. It only takes a few steps</h6>
            <form *ngIf="!created" [formGroup]="form" (ngSubmit)="register()" class="pt-3">
              <!-- <div class="form-group">
                <select class="form-control form-control-lg" formControlName="userType"
                  [ngClass]="{'input-control-error': submitted && f.userType.errors}">
                  <option value="" disabled>Choose User Type</option>
                  <option value="20">GIT Admin</option>
                  <option value="21">Super Executive</option>
                  <option value="22">Branch Super-Executive</option>
                  <option value="23">Company Admin</option>
                  <option value="24">Branch Admin</option>
                  <option value="25">Front Desktop</option>
                  <option value="26">Client Account</option>
                </select>
                <div *ngIf="submitted && f.userType.errors">
                  <p class="input-error" *ngIf="f.userType.errors.required">User type is required</p>
                </div>
              </div> -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="firstName"
                      placeholder="First Name" [ngClass]="{'input-control-error': submitted && f.firstName.errors}">
                    <div *ngIf="submitted && f.firstName.errors">
                      <p class="input-error" *ngIf="f.firstName.errors.required">First name is required</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="lastName"
                      placeholder="Last Name" [ngClass]="{'input-control-error': submitted && f.lastName.errors}">
                    <div *ngIf="submitted && f.lastName.errors">
                      <p class="input-error" *ngIf="f.lastName.errors.required">Last name is required</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="username"
                  placeholder="Username" [ngClass]="{'input-control-error': submitted && f.username.errors}">
                <div *ngIf="submitted && f.username.errors">
                  <p class="input-error" *ngIf="f.username.errors.required">Username is required</p>
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" formControlName="emailAddress"
                  placeholder="Email Address" [ngClass]="{'input-control-error': submitted && f.emailAddress.errors}">
                <div *ngIf="submitted && f.emailAddress.errors">
                  <p class="input-error" *ngIf="f.emailAddress.errors.email">Must be a valid email address</p>
                  <p class="input-error" *ngIf="f.emailAddress.errors.required">Email address is required</p>
                </div>
              </div>
              <div class="form-group row" style="margin-left: 0px;">
                <input type="text" formControlName="dialCode" disabled class="form-control"
                  style="text-align: center; width: 20%; padding-left: 5px; padding-right: 5px;">
                  <!-- !!! DON'T REMOVE THIS !!! -->
                <!-- <div class="form-control form-control-lg" style="text-align: center; width: 30%; padding-left: .54rem; padding-right: .54rem;">
                  <mat-select placeholder="Country Code" formControlName="dialCode" disabled>
                    <mat-select-trigger>
                      <span *ngIf="f.dialCode.value">
                        {{ f.dialCode.value }}
                      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let item of countryDialCodes" [value]="item.dial_code">
                      {{ item.name }} ({{ item.dial_code }})
                    </mat-option>
                  </mat-select>
                </div> -->
                <div style="width: 78%;">
                  <input type="text" class="form-control" formControlName="phone" autocomplete="new-password"
                    placeholder="24 123 1234" id="phone" (keypress)="resolveStrCharacters($event)"
                    [ngClass]="{'input-control-error': submitted && f.phone.errors}">
                </div>
                <div *ngIf="submitted && f.phone.errors">
                  <p class="input-error" *ngIf="f.phone.errors.required">Phone number is required</p>
                  <p class="input-error" *ngIf="f.phone.errors.minlength">Phone number cannot be less than 9 digits</p>
                  <p class="input-error" *ngIf="f.phone.errors.maxlength">Phone number cannot exceed 9 digits. Don't start with 0</p>
                </div>
              </div>
              <div class="form-group">
                <select class="form-control" formControlName="country"
                  [ngClass]="{'input-control-error': submitted && f.country.errors}" (change)="onCountrySelect($event)">
                  <option value="" disabled>Country</option>
                  <option *ngFor="let country of countriesList | orderBy: 'country.name.common'"
                    [value]="country.name.common">
                    {{ country.name.common }}
                  </option>
                </select>
                <div *ngIf="submitted && f.country.errors">
                  <p class="input-error" *ngIf="f.country.errors.required">Country is required</p>
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" formControlName="password"
                  placeholder="Password" [ngClass]="{'input-control-error': submitted && f.password.errors}">
                <div *ngIf="submitted && f.password.errors">
                  <p class="input-error" *ngIf="f.password.errors.minlength">Password must be atleast 8 characters</p>
                  <p class="input-error" *ngIf="f.password.errors.required">Password is required</p>
                </div>
              </div>
              <div class="mt-3">
                <!-- <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" routerLink="/git_admin">SIGN UP</a> -->
                <button type="submit" *ngIf="!loading" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN UP</button>
                <button type="button" *ngIf="loading" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> &nbsp; &nbsp;
                  Please wait...
                </button>
              </div>
              <div class="text-center mt-4 font-weight-light">
                Already have an account? <a href="/user_auth" class="text-primary">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
