<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Forms369 </a>
</nav>

<div class="view-body">
  <div class="container">
    <div class="row mt-2">
      <div class="col-12">
        <div class="text-center">
          <h2>Terms & Conditions</h2>
          <h6>Last Updated: 07/26/2020</h6>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <h6>Acceptance of Terms of Use Agreement</h6>
      <p>
        By creating an account on any of theGiTLab platforms, you agree to be bound by these Terms and Conditions, and
        our
        Privacy Policy, each of which is incorporated by reference into this Agreement. If you do not accept and agree
        to
        be bounded by all of our terms, you should not use our solutions. We may make changes to this Agreement from
        time
        to time. We may do this for a variety of reasons including to reflect changes in requirements of the law, new
        features, or changes in business practices. The most recent version of this Agreement will be posted under
        settings of the platform you are using and on theGiTLab website. You should regularly check for the most recent
        version. The most recent version is the version that applies. If you continue to use our solutions after the
        changes become effective, then you agree to the revised Agreement. You agree that this Agreement shall supersede
        any prior agreements, except as specifically stated, and shall govern your entire relationship with theGiTLab.
      </p>
    </div>
    <div class="row">
      <h6>Eligibility</h6>
      <p>
        You must be at least 18 years of age to create an account on any of our platforms and use our application. By
        creating an account and using any of our platforms, you represent and warrant that you form a binding contract
        with theGiTLab, and you will comply with this Agreement and all applicable local, state, national and
        international laws, rules and regulations.
      </p>
    </div>
    <div class="row">
      <h6>Your Account</h6>
      <p>
        By creating an account and using any of our platforms, you authorize us to access and use certain personal
        information. For more information regarding the information we collect from you and how we use it, please check
        our Privacy Policy. You are responsible for maintaining the confidentiality of the login credentials you use to
        sign up, and you are solely responsible for all activities that occur under those credentials. If you think
        someone has gained access to your account, please immediately contact us at info@thegitlab.com.
      </p>
    </div>
    <div class="row">
      <h6>Modifying Products and Termination</h6>
      <p>
        We are always striving to improve our solutions and bringing you additional functionality that you will find
        engaging and useful. This means we may add new product features or enhancements from time to time as well as
        remove some features, and if these actions do not materially affect your rights or obligations, we may not
        provide
        you with notice before taking them. We may even suspend a solution entirely, in which event we will notify you
        in
        advance unless extenuating circumstances, such as safety or security concerns prevent us from doing so. We may
        terminate your account at any time without notice if it is believed that you have violated this Agreement. After
        your account is terminated, this Agreement will terminate.
      </p>
    </div>
    <div class="row">
      <h6>Your Interactions with Other Users</h6>
      <p>
        You must not abuse, harass, threaten, impersonate or intimidate other users of our solutions. You must not
        create
        or submit unwanted email or comments to any user of our products.
      </p>
    </div>
    <div class="row">
      <h6>Entire Agreement</h6>
      <p>
        This Agreement, along with the Privacy Policy, and any terms disclosed to you, contains the entire agreement
        between you and theGiTLab and the use of our solutions. If any provision of this Agreement is held invalid, the
        remainder of this Agreement shall continue in full force and effect. Your account is non-transferable and all of
        your rights to your account and its content terminate upon your death. No agency, partnership, joint venture,
        fiduciary or other special relationship or employment is created as a result of this Agreement and you may not
        make any representations on behalf of or bind theGiTLab in any manner.
      </p>
    </div>
  </div>
</div>