* {
    font-family: 'OpenSans_Regular';
}

.table thead th {
    font-size: 0.75rem;
    white-space: nowrap;
}

.table td {
    line-height: 21px;
}

.download-title {
    padding-left: 17px;
    padding-bottom: 20px;
    font-weight: 600;
}

.card .card-info {
    color: #4a4a4a;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: bold;
}

.avatar {
    border: 1px solid #ddd;
}

table .dropdown .dropdown-toggle:after {
    display: none;
}

.dropdown-menu .dropdown-item {
    cursor: pointer;
}

.dropdown .dropdown-menu .dropdown-item {
    font-size: .875rem;
    padding: .85rem 1.5rem;
    font-family: 'OpenSans_Bold';
}

.dropdown .dropdown-menu .dropdown-item:hover {
    font-size: .895rem;
    padding: .85rem 1.5rem;
    font-family: 'OpenSans_Bold';
}

.dropdown-menu.show {
    border: 1px solid #ddd;
}

form button[type="submit"] {
    font-family: 'OpenSans_Bold';
}