<div class="container-scroller">
  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                  <h2>Form Data - {{ form.name }}</h2>
                  <p class="mb-md-0">Your administrative dashboard.</p>
                </div>
                <div class="d-flex">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More Options
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="openFilterModal()">Filter</a>
                    <a *ngIf="user.can_download == 1" class="dropdown-item" (click)="downloadAll('csv')">Download (CSV)</a>
                    <a *ngIf="user.can_download == 1" class="dropdown-item" (click)="downloadAll('excel')">Download (Excel)</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row m-5"></div> -->

        <div *ngIf="loading" class="row m-5">
          <div class="col-md-12 m-5">
            <div class="d-flex justify-content-center">
              <div class="spinner-border m-5" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!loading && !hasData" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">No Data Found</h4>
                <p class="card-description">
                  No data found.
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-file-check-outline" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>No user has filled this form yet!</h3>
                    <p class="text-muted">There is no data for this forms</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasError" class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card text-center pt-5 pb-5">
              <div class="card-body mt-5 mb-5">
                <h4 class="card-title">Error Ocuured</h4>
                <p class="card-description">
                  Ooops! Something went wrong!
                </p>
                <div class="text-lg-center mt-5 mb-5">
                  <div class="card-text">
                    <i class="mdi mdi-close-network-outline" style="font-size: 8em;"></i>
                  </div>
                  <div class="card-text">
                    <h3>We couldn't get your form data</h3>
                    <p class="text-muted">You may not have internet connection or our servers maybe down.</p>
                    <button class="btn btn-primary" type="button" (click)="retry()">Retry</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

         <div *ngIf="!loading && hasData" class="row">
           <div class="col-lg-12 grid-margin stretch-card">
             <div class="card">
               <div class="card-body">
                 <div class="table-responsive">
                   <table id="table-data" class="table table-hover">
                     <thead>
                       <tr>
                         <th *ngFor="let header of tableHeaders"><strong class="text-uppercase">{{ header }}</strong></th>
                         <th><strong class="text-uppercase">Submitted At</strong></th>
                         <th *ngIf="user.can_download == 1"><strong class="text-uppercase">Actions</strong></th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr class="hover-cursor" *ngFor="let content of tableContents; let i=index">
                         <td *ngFor="let data of content">{{ data }}</td>
                         <td *ngIf="user.can_download == 1">
                           <div class="dropdown">
                             <button type="button" class="btn btn-light bg-white btn-icon dropdown-toggle"
                               id="dropdownMenuButton" data-toggle="dropdown">
                               <i class="mdi mdi-dots-horizontal text-muted"></i>
                             </button>
                             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                               <a class="dropdown-item" (click)="print($event, i)">Print</a>
                               <a class="dropdown-item" (click)="openAttachmentModal(i)">View Attachments</a>
                               <a class="dropdown-item" (click)="downloadDataPdf(i)">Download Data (PDF)</a>
                             </div>
                           </div>
                         </td>
                       </tr>
                     </tbody>
                   </table>
                 </div>
               </div>
             </div>
           </div>
         </div>

         <div *ngIf="loadingMore" class="row m-md-2">
           <div class="col-md-12 col-sm-12 m-md-2">
             <div class="d-flex justify-content-center">
               <div class="spinner-border m-2" style="width: 2rem; height: 2rem;" role="status">
                 <span class="sr-only">Loading...</span>
               </div>
             </div>
           </div>
         </div>

         <div *ngIf="hasMoreError" class="row m-md-2">
           <div class="col-md-8 col-sm-12 offset-md-2">
             <div class="alert alert-danger" role="alert">
               <h4 class="alert-heading">Connection Failed!</h4>
               <p>
                 Oops!! Couldn't get you the rest of the data. Please make sure you have an active internet connection.
                 Maybe, our servers may be down.
               </p>
               <hr>
               <p class="mb-0">We are really sorry for this inconvenience. Please click on the load more button again.</p>
             </div>
           </div>
         </div>

         <div *ngIf="hasMore" class="row">
           <div class="col-md-4 col-sm-6 offset-sm-3 offset-lg-4">
             <div class="text-center">
               <button type="button" class="btn btn-primary btn-rounded btn-fw" (click)="loadMore()">Load More</button>
             </div>
           </div>
         </div>

      </div>
    </div>
  </div>
</div>

<ng-template #attachment let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">View Attachments</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding: 0px;">
    <div *ngIf="loadingAttachments" class="row m-md-2">
      <div class="col-md-12 col-sm-12">
        <div class="d-flex justify-content-center">
          <div class="spinner-border m-2" style="width: 2rem; height: 2rem;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="hasNoAttachments" class="row m-md-2 text-center d-block">
      <div class="text-center">
        <i class="mdi mdi-image-multiple" style="font-size: 8em;"></i>
        <h1 class="display-4 pt-2">No Attachments found</h1>
        <h5>No attachments found for this form.</h5>
      </div>
    </div>

    <div *ngIf="!hasNoAttachments" class="row m-md-2">
      <div *ngIf="!hasDocuments" id="carouselEx" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li *ngFor="let item of attachmentList; let i=index" data-target="#carouselEx" [attr.data-slide-to]="i"
            [ngClass]="{'active': isFirst(i)}"></li>
        </ol>
        <div class="carousel-inner">
          <div *ngFor="let item of attachmentList" class="carousel-item active">
            <img [src]="item.url" class="d-block w-100" alt="Attachment Image">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ transformText(item.key) }}</h5>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselEx" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselEx" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div *ngIf="hasDocuments" class="list-group">
        <a *ngFor="let item of attachmentList" class="list-group-item list-group-item-action"
          (click)="openModal($event, item.url)">
          {{ transformText(item.key) | uppercase }} : {{ transformUrl(item.url) }}
        </a>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>

<ng-template #filter let-modal>
  <form [formGroup]="filterForm" (ngSubmit)="onFilter()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Filter Results</h4>
      <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('close')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <select formControlName="filterBy" class="form-control form-control-lg"
          [ngClass]="{'input-control-error': submitted && f.filterBy.errors}">
          <option value="">Filter By</option>
          <option value="processed_at">Processed Date</option>
          <option value="submitted_at">Submitted Date</option>
        </select>
        <div *ngIf="submitted && f.filterBy.errors">
          <p class="input-error" *ngIf="f.filterBy.errors.required">Filter by required</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group" style="margin-bottom: -0.1rem;">
            <div class="input-group">
              <input class="form-control form-control-lg" placeholder="Select Start Date" name="dp"
                formControlName="startDate" ngbDatepicker #d="ngbDatepicker" [ngClass]="{'input-control-error':
                submitted && f.startDate.errors}">
              <div class="input-group-append">
                <button class="btn btn-sm btn-outline-secondary" (click)="d.toggle()" type="button">
                  <i class="mdi mdi-calendar-outline"></i>
                </button>
              </div>
              <div *ngIf="submitted && f.startDate.errors">
                <p class="input-error" *ngIf="f.startDate.errors.required">Start date is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group">
            <input class="form-control form-control-lg" placeholder="Select End Date" name="dp"
              formControlName="endDate" ngbDatepicker #d1="ngbDatepicker" [ngClass]="{'input-control-error': submitted
              && f.endDate.errors}">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-secondary" (click)="d1.toggle()" type="button">
                <i class="mdi mdi-calendar-outline"></i>
              </button>
            </div>
            <div *ngIf="submitted && f.endDate.errors">
              <p class="input-error" *ngIf="f.endDate.errors.required">End date is required</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="resetFilter()">Reset</button>
      <button type="submit" class="btn btn-primary">Filter</button>
    </div>
  </form>
</ng-template>

<ng-template #viewImgAttachment let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">Attachment File</h5>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding: 0px;">
    <img [src]="imgUrl" style="width: 100%;">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary-outline" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #viewDocAttachment let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">Attachment File</h5>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>This document type cannot be viewed. Please download</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close()">Close</button>
    <button type="button" class="btn btn-primary" (click)="downloadDoc(documentUrl)">Download</button>
  </div>
</ng-template>