.table thead th {
    font-size: 0.75rem;
    white-space: nowrap;
}

.table td {
    line-height: 21px;
}

.download-title {
    padding-left: 17px;
    padding-bottom: 20px;
    font-weight: 600;
}

.card .card-info {
    color: #4a4a4a;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: bold;
}

.avatar {
    border: 1px solid #ddd;
}