<section class="banner">
  <div class="top-level">
    <div class="logo">
      <!-- <i class="mdi mdi-git" style="font-size: 3em;"></i> -->
      <img src="./assets/images/logo.png" alt="logo">
    </div>

    <div class="navigation">
      <a class="btn btn-primary btn-rounded mr-3" routerLink="/login" role="button">
        <i class="mdi mdi-lock-open-outline"></i> &nbsp;Login
      </a>
      <a class="hover-cursor btn btn-rounded btn-primary" routerLink="/register" role="button">
        <i class="mdi mdi-lock-open-outline"></i> &nbsp;Signup
      </a>
    </div>
  </div>

  <section class="section-one">
    <div class="jumbotron text-center">
      <h1>Forms369</h1>
      <i class="main-icon mdi mdi-file-document-box-multiple-outline"></i>
      <p class="lead">
        Welcome to a new era of filling out your forms.
        Find any form at all and fill it right online with ease,
        no queues, just fill and submit & wait for your form to be processed.
      </p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="#section1" role="button">Learn More</a>
    </div>
  </section>
</section>

<section id="section1" class="section-two">
  <div class="container">
    <div class="text-center mb-5">
      <h1 class="display-1">Automation & Your Data</h1>
      <p class="lead">To make life easy, we took the liberty to automate 90% of the process of how you fill your forms.</p>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="card card-highlight hover-cursor hover-primary-inverse">
          <div class="card-body">
            <p class="card-title">Auto-saving Your Data</p>
            <div class="card-text">
              <i class="mdi mdi-account-group-outline" style="font-size: 8em;"></i>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                saepe eum suscipit, voluptatem perferendis consectetur officia aliquid
                accusantium et dicta praesentium, est repellat dolorem nisi
                repudiandae commodi amet alias! In!
              </p>
              <button class="btn btn-primary">Read More &nbsp;<i class="mdi mdi-arrow-right-bold"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card hover-cursor hover-primary">
          <div class="card-body">
            <p class="card-title">Auto-filling Your Data</p>
            <div class="card-text">
              <i class="mdi mdi-account-arrow-right-outline" style="font-size: 8em;"></i>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                saepe eum suscipit, voluptatem perferendis consectetur officia aliquid
                accusantium et dicta praesentium, est repellat dolorem nisi
                repudiandae commodi amet alias! In!
              </p>
              <button class="btn btn-primary">Read More &nbsp;<i class="mdi mdi-arrow-right-bold"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-highlight hover-cursor hover-primary-inverse">
          <div class="card-body">
            <p class="card-title">Auto-sync Your Data</p>
            <div class="card-text">
              <i class="mdi mdi-account-arrow-left-outline" style="font-size: 8em;"></i>
              <p>
                Any change you make is automatically saved and updated. Making your data 
                reflect all your latest changes.
              </p>
              <button class="btn btn-primary">Read More &nbsp;<i class="mdi mdi-arrow-right-bold"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-three text-center">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-1">All The Forms You Can Think Of</h1>
      <p class="lead">We have forms from hundreds of companies, organizations, groups etc to make it easy for you to find any kind of form you need.</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group list-group-horizontal-lg">
          <li class="col-md-3 list-group-item hover-cursor hover-primary">
            <i class="mdi mdi-facebook-messenger" style="font-size: 4em;"></i>
            <br>
            Loremelor Ipusmsudy
          </li>
          <li class="col-md-3 list-group-item hover-cursor hover-primary">
            <i class="mdi mdi-google-chrome" style="font-size: 4em;"></i>
            <br>
            Loremelor Ipusmsudy
          </li>
          <li class="col-md-3 list-group-item hover-cursor hover-primary">
            <i class="mdi mdi-twitter" style="font-size: 4em;"></i>
            <br>
            Loremelor Ipusmsudy
          </li>
          <li class="col-md-3 list-group-item hover-cursor hover-primary">
            <i class="mdi mdi-facebook-messenger" style="font-size: 4em;"></i>
            <br>
            Loremelor Ipusmsudy
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-four">
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <i class="mdi mdi-security" style="font-size: 7em;"></i>
        <h3 class="display-3">High End Security!</h3>
        <p class="lead">
          You data is highly secured and protected. Any company's form you fill only gets
          access to the data you provided while filling that form. The rest of your data is secured.
        </p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg mr-2" href="#" role="button">Learn more</a>
      </div>
    </div>
  </div>
</section>

<section class="section-five">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="display-2">SMS Verification</h3>
        <p>We use two way authentication to keep your data secured.</p>
        <hr>
        <p class="lead">
          This is a simple hero unit, a simple jumbotron-style component for calling extra attention
          to featured content or information. This is a simple hero unit, a simple jumbotron-style component for calling
          extra attention to featured content or information.
        </p>
      </div>
      <div class="col-md-6">
        <i class="mdi mdi-message-reply-text" style="font-size: 12em;"></i>
      </div>
    </div>
  </div>
</section>

<section class="section-six">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <i class="mdi mdi-access-point-network" style="font-size: 12em;"></i>
      </div>
      <div class="col-md-6">
        <h3 class="display-3">This is a simple hero unit</h3>
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <hr>
        <p class="lead">
          This is a simple hero unit, a simple jumbotron-style component for calling extra attention
          to featured content or information. This is a simple hero unit, a simple jumbotron-style component for calling
          extra attention to featured content or information.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-seven">
  <div class="container">
    <div class="headings">
      <div class="text-center mb-5">
        <h1 class="display-1">Hello Title Here</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe error quod corp! Officiis,
          ducimus.
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="card hover-cursor hover-primary">
          <div class="card-body">
            <p class="card-title">Lorem ipsum dolor sit amet</p>
            <div class="card-text">
              <i class="mdi mdi-account-group-outline" style="font-size: 8em;"></i>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                saepe eum suscipit, voluptatem perferendis consectetur officia aliquid
                accusantium et dicta praesentium, est repellat dolorem nisi
                repudiandae commodi amet alias! In!
              </p>
              <button class="btn btn-primary">Read More &nbsp;<i class="mdi mdi-arrow-right-bold"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card hover-cursor hover-primary">
          <div class="card-body">
            <p class="card-title">Lorem ipsum dolor sit amet</p>
            <div class="card-text">
              <i class="mdi mdi-account-arrow-right-outline" style="font-size: 8em;"></i>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                saepe eum suscipit, voluptatem perferendis consectetur officia aliquid
                accusantium et dicta praesentium, est repellat dolorem nisi
                repudiandae commodi amet alias! In!
              </p>
              <button class="btn btn-primary">Read More &nbsp;<i class="mdi mdi-arrow-right-bold"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card hover-cursor hover-primary">
          <div class="card-body">
            <p class="card-title">Lorem ipsum dolor sit amet</p>
            <div class="card-text">
              <i class="mdi mdi-account-arrow-left-outline" style="font-size: 8em;"></i>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                saepe eum suscipit, voluptatem perferendis consectetur officia aliquid
                accusantium et dicta praesentium, est repellat dolorem nisi
                repudiandae commodi amet alias! In!
              </p>
              <button class="btn btn-primary">Read More &nbsp;<i class="mdi mdi-arrow-right-bold"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <p>Copyright(c) 2019. All rights reserved.</p>
        <p>GiT</p>
      </div>
    </div>
  </div>
</footer>