<section class="banner">
  <div class="top-level">
    <div class="logo">
      <img src="./assets/images/lg.png" alt="logo">
    </div>

    <div class="navigation">
      <a class="btn btn-primary btn-rounded mr-3" routerLink="/login" role="button">
        <i class="mdi mdi-lock-open-outline"></i> &nbsp;Login
      </a>
      <a class="hover-cursor btn btn-rounded btn-primary" routerLink="/register" role="button">
        <i class="mdi mdi-lock-open-outline"></i> &nbsp;Signup
      </a>
    </div>
  </div>

  <section class="section-one">
    <div class="jumbotron text-center">
      <h1>Forms369</h1>
      <i class="main-icon mdi mdi-file-document-box-multiple-outline"></i>
      <p class="lead">
        Streamline your forms creation, filling and submission process using Forms369.
      </p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="#section1" role="button">Learn More</a>
    </div>
  </section>
</section>

<section id="section1" class="section-two">
  <div class="container">
    <div class="text-center mb-5">
      <h1 class="display-1">Data Collection & Automation</h1>
      <p class="lead">Forms369 automates 90% of the processes involved in filling and submitting forms.</p>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="card card-highlight hover-cursor hover-primary-inverse">
          <div class="card-body">
            <p class="card-title">Keeping an Up-to-date User Profile</p>
            <div class="card-text">
              <i class="mdi mdi-database-plus" style="font-size: 8em;"></i>
              <p>
                Forms369 keeps a comprehensive profile for all respondents or clients. 
                During registration, the details provided by a client is added to the user profile. 
                A user also has the opportunity to manage their profile: edit, delete and add more details to their profile. <br><br>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card hover-cursor hover-primary">
          <div class="card-body">
            <p class="card-title">Forms Auto-Complete</p>
            <div class="card-text">
              <i class="mdi mdi-robot" style="font-size: 8em;"></i>
              <p>
                The process of filling a form is fully automated. 
                When filling a form, all details from the respondent's profile are used to autocomplete the form. 
                As the user profile grows, the forms autocomplete process becomes more accurate,  saving respondents 
                an enormous amount of time.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-highlight hover-cursor hover-primary-inverse">
          <div class="card-body">
            <p class="card-title">Data Auto-sync</p>
            <div class="card-text">
              <i class="mdi mdi-sync" style="font-size: 8em;"></i>
              <p>
                When filling a form, respondents have the opportunity to edit data in autocompleted 
                field, as well as fill out uncompleted fields. All these changes: editted and new respondent's 
                data from the form filling process are automcatically synched into the client profile, thus
                maintaining an up-to-date user profile.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-three text-center">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-1">All Kind of Forms Available.</h1>
      <p class="lead">We have forms from several of financial institutions, public sector offices, healthcare institutions etc. Search and fill out any form of your choice.</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group list-group-horizontal-lg">
          <li class="col-md-3 list-group-item hover-cursor hover-primary">
            <i class="mdi mdi-message-reply-text" style="font-size: 4em;"></i>
            <br>
            Ghanaian Passport Application Form
          </li>
          <li class="col-md-3 list-group-item hover-cursor hover-primary">
            <i class="mdi mdi-file-document-box-multiple-outline" style="font-size: 4em;"></i>
            <br>
            Account Creation Form
          </li>
          <li class="col-md-3 list-group-item hover-cursor hover-primary">
            <i class="mdi mdi-file-document-box-outline" style="font-size: 4em;"></i>
            <br>
            Tax Relief Application Form
          </li>
          <li class="col-md-3 list-group-item hover-cursor hover-primary">
            <i class="mdi mdi-file-check-outline" style="font-size: 4em;"></i> 
            <br>
            Investment Application Form
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-four">
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <i class="mdi mdi-security" style="font-size: 7em;"></i>
        <h3 class="display-3">High End Security and Data Protection</h3>
        <p class="lead">
          You data is highly secured and protected. 
          At GiT we recognize the importance of protecting your personal information and are committed to processing
          it responsibly and in compliance with applicable data protection laws in Ghana and other countries GiT will 
          operate. With forms369, companies only have access to respondent's data provided in filled forms.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-five">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="display-2">Two-way Authentication</h3>
        <p>We use two way authentication: Login and SMS Verification to keep respondents' data secured.</p>
        <hr>
        <p class="lead">
          One of the ways Forms369  keeps its users data secure is by implementing a two-way authentication. 
          After successful login via username and password, a verification code is sent to the users SMS.
          To fully login and have access to the functionalities of this application, a usr must pass all the 2 stages of authentication.
        </p>
      </div>
      <div class="col-md-6">
        <i class="mdi mdi-message-reply-text" style="font-size: 12em;"></i>
      </div>
    </div>
  </div>
</section>

<section class="section-six">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <i class="mdi mdi-access-point-network" style="font-size: 12em;"></i>
      </div>
      <div class="col-md-6">
        <h3 class="display-3">Flexibility and Forms Originality</h3>
        <p>Print Data in the Original Form Format</p>
        <hr>
        <p class="lead">
          With Forms369, when creating a form, you can also upload the original document of the form that is being created in PDF format. 
          Once a form has been created, published and filled, you have the opportunity to print the original form document with respondents' data. 
          This helps to maintain the originality of the form while making it easy to gather respondents data.
      </div>
    </div>
  </div>
</section>

<section class="section-seven">
  <div class="container">
    <div class="headings">
      <div class="text-center mb-5">
        <h1 class="display-1">Forms Creation</h1>
        <p class="lead">Forms creation made easy with already created Templates and Sections
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="card hover-cursor hover-primary">
          <div class="card-body">
            <p class="card-title">Form Templates</p>
            <div class="card-text">
              <i class="mdi mdi-account-arrow-right-outline" style="font-size: 8em;"></i>
              <p>
                To streamline the form creation process on Froms369, several form templates have been created. 
                During form creation, the creators can pick a template that suit their needs from the pool of templates. 
                This chosen template can be editted to include all needed fields.<br><br>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card hover-cursor hover-primary">
          <div class="card-body">
            <p class="card-title">Form</p>
            <div class="card-text">
              <i class="mdi mdi-file-document-box-multiple-outline" style="font-size: 8em;"></i>
              <p>
                Forms369 prides itself on felxibility, speed, security and accuracy. 
                Thus, to provide these benefits to users, particularly during form creation, there is the flexibility to start the form creation from scratch,
                or use the system's already created sections and templates to smooth-run the form creation process.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card hover-cursor hover-primary">
          <div class="card-body">
            <p class="card-title">Form Sections</p>
            <div class="card-text">
              <i class="mdi mdi-account-arrow-left-outline" style="font-size: 8em;"></i>
              <p>
                Mostly, forms have sections: Personal information, account details, spouse information, educational qualifications etc. 
                During forms creation, these sections can be used to save time and reduce errors.
                Again, these sections can be editted to fit the users' exact need.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <p>Copyright(c) 2019. All rights reserved.</p>
        <p>GiT</p>
      </div>
    </div>
  </div>
</footer>